<div class="global-links">
  <ul>
    <li class="discount">
      <%= link_to '', '/news/preferential.html' %>
    </li>
    <li class="facebook">
      <%= link_to '', 'https://www.facebook.com/ohstudycenter', target: '_blank' %>
    </li>
    <li class="line">
      <%= link_to '', 'https://www.facebook.com/ohstudycenter', target: '_blank' %>
    </li>
    <li class="instagram">
      <%= link_to '', 'https://www.instagram.com/ohstudycenter/', target: '_blank' %>
    </li>
    <li class="back-to-top"></li>
  </ul>
</div>
