<div class='modal fade' id='privacy-modal' tabindex='-1' role='dialog'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
        <h3>隱私權政策</h3>
      </div>
      <div class='modal-body'>
        <p>依據中華民國個人資料保護法，請詳閱這份哦思達股份有限公司隱私保護政策，以了解相關重要訊息。
        本隱私權保護政策，適用於您在哦思達股份有限公司向您蒐集之個人資料,將僅限使用於本企業, 並遵守「個人資料保護法」之規定妥善保護您的個人資訊。</p>
        <p>在此前提下，您同意本公司於法律許可之範圍內提供優惠
        資訊或服務，但您可依法律規定的個人資訊權利主張如下事項：閱覽，補充，更正，處理，及刪除。</p>

        <p>如果您在本公司相關網站建立帳號，此網站會在您的電腦上設定並存取 cookie 。你在網站上的資料傳送是有防火牆及加密保護。</p>
        <p>If you create an account with our website, we will website cookies in your computer. Your information is protected by Secure Socket Layer with encription and Firewall and Will not be used outside of Ohstudy.</p>

        <p>哦思達股份有限公司版權所有 不得轉載運用<br />
        Copyright©2018 OH!Study Education Consulting Center.<br />
        All Rights Reserved. copying is prohibited.</p>
      </div>
    </div>
  </div>
</div>
