@import "shared/variables";
@import "shared/mixins";

.member-card{
  padding: 0 10px 40px;
  .member-image{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 100px;
    box-shadow: 0 8px 10px rgba(#000000, 0.15);
    overflow: hidden;
    >img{
      width: 100%;
    }
  }
  .member-header{
    margin-bottom: 10px;
    .name{
      @include h3;
      margin-bottom: 5px;
    }
    .title{
      line-height: 1;
    }
  }
  .member-body{
    .info-group{
      .info-label{
        float: left;
        width: 50px;
        color: $color-gray-dark;
      }
      .info-value{
        float: left;
        width: calc(100% - 50px);
        word-break: break-word;
      }
    }
  }
}
