---
title: 關於我們 | OH!Study 留遊學教育中心
---

<div class='about-oh-study'>
  <div class='banner'>
    <h3>關於我們</h3>
  </div>
  <div id='about-our-story' class='anchor-wrapper'>
    <div class='about-our-story'>
      <div class='l-container-sm'>
        <div class='about-title'>
            海外求學找 OH! Study<br />
            給你最好的人生方向
        </div>
        <div class='content-title'>
          我們的故事
        </div>
        <div class='content'>
          <p>1990年，董事長何伯恩先生擔任加拿大駐台北貿易辦事處（CTOT）教育中心主任一職，有感於學生對海外教育的需求不斷增加，何伯恩先生遂於1995年創辦OH! Canada教育顧問中心（為 OH! Study 的前身）。隨後更擴展至美國、英國、歐洲、澳洲與紐西蘭等國家，持續為學生提供最全面的海外教育服務。</p>
          <p>「OH! Study 教育中心」創辦迄今，逾20多年的專業代辦經驗，已順利幫助近5萬名學生出國求學。作為全台規模最大、選擇最多的海外留遊學教育中心，OH! Study 於全省設立台北／台中／高雄／新竹四間學生中心，由 40 多名全職專業顧問，竭誠為同學們提供最優質的全方位一站式服務。</p>
          <p>OH! Study 秉持的經營理念，是協助每位有興趣到海外留遊學的朋友，藉由海外教育，能夠體驗不同的文化背景、學習自我獨立，進而培養自身國際觀，與國際接軌！為了落實企業社會責任，OH!Study 特別於 2015 年成立了《OH! Study海外百萬獎學金贊助計畫》，提供百萬獎學金予台灣優秀學生及清寒學子，協助他們出國圓夢。</p>
        </div>
        <div class='youtube-wrapper'>
          <iframe width='560' height='315' src='https://www.youtube.com/embed/PMyMY6CzH5k' frameborder='0' allow='autoplay; encrypted-media' allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <div id='about-our-service' class='anchor-wrapper'>
    <div class='about-our-service'>
      <div class='l-container-sm'>
        <div class='content-title'>
          我們的服務
        </div>
        <div class='service-title'><span>國家選擇最多元</span></div>
        <div class='content'>
          <p>包含美國、加拿大、英國、愛爾蘭、歐洲、澳洲、紐西蘭</p>
        </div>
        <div class='service-title'><span>配合學校最豐富</span></div>
        <div class='content'>
          <ul>
            <li><span>留學：研究所、大學、學院、高中</span></li>
            <li><span>遊學：語言學校、暑期課程、青少年夏令營</span></li>
            <li><span>海外工讀：留學工讀、實習及建教課程、打工遊學</span></li>
          </ul>
        </div>
        <div class='service-title'><span>最合適您的選擇</span></div>
        <div class='content'>
          <ul>
            <li><span>免費個人化諮詢</span></li>
            <li><span>合作學校代辦費 0 元</span></li>
            <li><span>兩名以上專職顧問協助選校及申請</span></li>
          </ul>
        </div>
        <div class='service-title'><span>一站式貼心服務</span></div>
        <div class='content'>
          <%= image_tag 'about/img_service.png' %>
          <p>
            每年固定舉辦兩次春季及秋季「海外留遊學展」，超過百所國外學校前來參展。<br />
            歡迎對留遊學／進修有興趣的朋友們來參加，一次蒐集最完整的資訊！
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id='about-our-advantage' class='anchor-wrapper'>
    <div class='about-advantage'>
      <div class='l-container-sm'>
        <div class='row'>
          <div class='col-sm-6 why-choose-us'>
            <div class='content-title'>
              為什麼選擇我們
            </div>
            <ul>
              <li><span>全球 500 多個留遊學地點</span></li>
              <li><span>深耕台灣，具二十多年代辦經驗</span></li>
              <li><span>協助近 5 萬名學生順利出國求學</span></li>
              <li><span>提供九大全方位一站式服務</span></li>
              <li><span>春／秋季全台最大留遊學教育展</span></li>
              <li><span>海外留遊學代辦的 No.1 教育專家，是您最值得信賴的夥伴</span></li>
            </ul>
          </div>
          <div class='col-sm-6 consumer-guarantee'>
            <div class='content-title'>
              最完整的消費保證
            </div>
            <ul>
              <li><span>使用教育部規定定型化契約</span></li>
              <li><span>榮獲教育部查核為優質留遊學業者</span></li>
              <li><span>榮獲消基會發布新聞肯定「留遊學」契約記載完整</span></li>
              <li><span>獲得承保一千萬履約保證保險的留遊學中心</span></li>
              <li><span>23年的代辦經驗，已協助近五萬人申請留遊學出國圓夢</span></li>
              <li><span>40多位專業顧問群，是您實現出國留遊學夢想的首選</span></li>
              <li><span>「中華民國留學服務商業同業公會」及「中華留學服務交流協會」會員</span></li>
              <li><span>「台北市美國商會」、「加拿大商會」、「英國商會」會員</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id='about-our-team' class='anchor-wrapper'>
    <div class='about-team-members'>
      <div class='l-container-sm'>
        <div class='content-title'>
          專業顧問團隊
        </div>
        <div class='member-list'>
          <% data.members['members'].each do | member | %>
            <%= partial 'views/about/member_card',
              :locals => {
                :avatar => member.avatar,
                :name => member.name,
                :title => member.title,
                :email => member.email,
                :tel => member.tel,
                :skype => member.skype,
                :line => member.line,
                :link => member.link
              }
            %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id='about-our-office' class='anchor-wrapper'>
    <%= partial 'views/index/office' %>
  </div>
</div>
