---
title: 預約諮詢 | OH!Study 留遊學教育中心
---

<div class='consultant'>
  <div class='banner'>
    <h3>預約諮詢</h3>
  </div>
  <div class='l-container-sm'>
    <div class='consultant-title'>您好！</div>
    <div>
      請詳細填妥相關資料，我們的專業顧問很快地就會跟您聯絡，為您解決留學或遊學的疑難雜症喔!<br />
      或來電台北(02)2751-1919/ 新竹(03)525-1188 / 台中 (04)2319-8878 / 高雄 (07)238-3636
    </div>
    <div class='line'>
      <%= image_tag 'icon-todo-replace.png' %>
      <strong>Line ID: @ohstudy</strong>
    </div>
    <hr />
    <form class='web-form'>
      <div class='consultant-title'>我要預約諮詢</div>
      <div class='row'>
        <div class='col-md-6'>
          <div class='form-group'>
            <label class='form-label'>中文姓名</label>
            <input type='text' class='form-control' name='CLNAME' placeholder='e.g. 王大明'>
          </div>
        </div>
        <div class='col-md-6'>
          <div class='form-group'>
            <label class='form-label'>性別</label>
            <label class='radio-inline'>
              <input type='radio' name='GENDER' value='male' checked>
              男
            </label>
            <label class='radio-inline'>
              <input type='radio' name='GENDER' value='female'>
              女
            </label>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <div class='form-group'>
            <label class='form-label'>行動電話</label>
            <input type='text' class='form-control' name='CELL' placeholder='e.g. 0912-123-456'>
          </div>
        </div>
        <div class='col-md-6'>
          <div class='form-group'>
            <label class='form-label'>電子郵件</label>
            <input type='email' class='form-control' name='EMAIL' placeholder='e.g. example@domain.com'>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <div class='form-group'>
            <label class='form-label'>選擇諮詢地點</label>
            <label class='radio-inline'>
              <input type='radio' name='CSP' value='台北市' checked>
              台北中心
            </label>
            <label class='radio-inline'>
              <input type='radio' name='CSP' value='新竹市'>
              新竹中心
            </label>
            <label class='radio-inline'>
              <input type='radio' name='CSP' value='台中市'>
              台中中心
            </label>
            <label class='radio-inline'>
              <input type='radio' name='CSP' value='高雄市'>
              高雄中心
            </label>
          </div>
        </div>
      </div>
      <div class='consultant-title'>就讀計劃及其他資訊</div>
      <div class='row'>
        <div class='col-md-6'>
          <div class='form-group'>
            <label class='form-label'>您從哪邊聽到我們</label>
            <select class='form-control' name='HEARUS'>
              <option value='公司網頁'>OH!STUDY 官網</option>
              <option value='教育展'>教育展</option>
              <option value='旅展'>旅展</option>
              <option value='大學博覽會'>大學博覽會</option>
              <option value='公會展'>公會展</option>
              <option value='就業博覽會'>就業博覽會</option>
              <option value='親友或舊生介紹'>親友或舊生介紹</option>
              <option value='本身是舊生'>本身是舊生</option>
              <option value='報紙'>報紙</option>
              <option value='廣播'>廣播</option>
              <option value='校內活動資料'>校內活動資料</option>
              <option value='網路搜尋'>網路搜尋</option>
              <option value='公車'>公車</option>
              <option value='捷運'>捷運</option>
              <option value='ICRT'>ICRT</option>
              <option value='YAHOO網站廣告'>YAHOO網站廣告</option>
              <option value='YAHOO搜尋'>YAHOO搜尋</option>
              <option value='GOOGLE搜尋'>GOOGLE搜尋</option>
              <option value='OH!STUDY教育中心FB'>OH!STUDY教育中心FB</option>
              <option value='其他'>其他</option>
            </select>
          </div>
        </div>
        <div class='col-md-6'>
          <div class='form-group message'>
            <input type='text' class='form-control' name='INTPROGRAM1' placeholder='請輸入其他選項的詳細說明'>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <div class='form-group'>
            <label class='form-label'>選擇要去的國家</label>
            <label class='checkbox-inline'>
              <input type='checkbox' name='USA' value='y'> 美國
            </label>
            <label class='checkbox-inline'>
              <input type='checkbox' name='CA' value='y'> 加拿大
            </label>
            <label class='checkbox-inline'>
              <input type='checkbox' name='UK' value='y'> 英國
            </label>
            <label class='checkbox-inline'>
              <input type='checkbox' name='EUR' value='y'> 歐洲
            </label>
            <label class='checkbox-inline'>
              <input type='checkbox' name='NZ' value='y'> 紐西蘭
            </label>
            <label class='checkbox-inline'>
              <input type='checkbox' name='AU' value='y'> 澳洲
            </label>
            <label class='checkbox-inline'>
              <input type='checkbox' name='OTHER' value='y'> 亞洲及其他國家
            </label>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <div class='form-group'>
            <label class='form-label'>選擇有興趣的領域</label>
            <label class='checkbox-inline'>
              <input type='checkbox' name='UNIVERSITY' value='y'> 大學/研究所
            </label>
            <label class='checkbox-inline'>
              <input type='checkbox' name='COMMUNITY_COLLEGE' value='y'> 學院（銜接課程/技職文憑證書）
            </label>
            <label class='checkbox-inline'>
              <input type='checkbox' name='ESL' value='y'> 語言學校
            </label>
            <label class='checkbox-inline'>
              <input type='checkbox' name='HIGHSCHOOL' value='y'> 高中
            </label>
            <label class='checkbox-inline'>
              <input type='checkbox' name='TRAVELSTUDY' value='y'> 留學
            </label>
            <label class='checkbox-inline'>
              <input type='checkbox' name='TRAVELGROUP' value='y'> 遊學
            </label>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <div class='form-group'>
            <label class='form-label'>其他問題</label>
            <textarea name='INTPROGRAM' class='form-control' rows='3' placeholder='例如：您想就讀的科系、如何選擇學校等等'></textarea>
          </div>
        </div>
      </div>
      <div class='checkbox'>
        <label>
          <input type='checkbox' value='privacypolicy'>
          我同意《<a href='#'>隱私權政策</a>》
        </label>
      </div>
      <div class='text-center'>
        <button type='submit' class='btn btn-primary btn-lg'>送出</button>
      </div>
    </form>
  </div>
  <%= partial 'views/index/office' %>
</div>
