---
title: 最新消息 | OH!Study 留遊學教育中心
---

<div class='news information'>
  <div class='banner'>
    <h3>留遊學快訊</h3>
  </div>
  <div class='l-container'>
    <div class='clearfix'>
      <ul class='content-menu'>
        <li class='active'><a href='#'>2018</a></li>
        <li><a href='#'>2017</a></li>
        <li><a href='#'>2016</a></li>
        <li><a href='#'>2015</a></li>
      </ul>
      <div class='content-list'>
        <table class='content-table'>
          <tr>
            <td>
              <span class='badge america'>美國</span>
              <span>給不敢開口說英文的你</span>
            </td>
          </tr>
          <tr>
            <td>
              <span class='badge canada'>加拿大</span>
              <span>低價遊學一個月只要兩萬六！</span>
            </td>
          </tr>
        </table>
        <%= partial "views/shared/pagination" %>
      </div>
    </div>
  </div>
</div>
