<div id='countries' class='countries'>
  <div class='l-container'>
    <h2>找國家</h2>
    <div class='country-grid row'>
      <div class='col-sm-3'>
        <a href='ohapply/ohapply.html' class='country-wrapper'>
          <div class='country-box h-2x america' style="background-image: url('../../images/landing/img_usa_bg.png')">
            <div class='country-name'>
              <span>美國</span>
              <span class='en'>America</span>
            </div>
          </div>
        </a>
      </div>
      <div class='col-sm-6'>
        <div class='row'>
          <div class='col-sm-6'>
            <a href='ohapply/ohapply.html' class='country-wrapper'>
              <div class='country-box australia' style="background-image: url('../../images/landing/img_au_bg.png')">
                <div class='country-name'>
                  <span>澳洲</span>
                  <span class='en'>Australia</span>
                </div>
              </div>
            </a>
          </div>
          <div class='col-sm-6'>
            <a href='ohapply/ohapply.html' class='country-wrapper'>
              <div class='country-box england' style="background-image: url('../../images/landing/img_uk_bg.png')">
                <div class='country-name'>
                  <span>英國</span>
                  <span class='en'>England</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-6'>
            <a href='ohapply/ohapply.html' class='country-wrapper'>
              <div class='country-box new-zealand' style="background-image: url('../../images/landing/img_nz_bg.png')">
                <div class='country-name'>
                  <span>紐西蘭</span>
                  <span class='en'>New Zealand</span>
                </div>
              </div>
            </a>
          </div>
          <div class='col-sm-6'>
            <a href='ohapply/ohapply.html' class='country-wrapper'>
              <div class='country-box europe' style="background-image: url('../../images/landing/img_eu_bg.png')">
                <div class='country-name'>
                  <span>歐洲</span>
                  <span class='en'>Europe</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class='col-sm-3'>
        <a href='ohapply/ohapply.html' class='country-wrapper'>
          <div class='country-box h-2x canada' style="background-image: url('../../images/landing/img_ca_bg.png')">
            <div class='country-name'>
              <span>加拿大</span>
              <span class='en'>Canada</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class='button-center-align'>
      <%= link_to '瀏覽所有國家', '/ohapply/ohapply.html', class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
