<div id='courses' class='courses'>
  <div class='l-container'>
    <h2>找課程</h2>
    <div class='row'>
      <div class='col-md-3 col-sm-6'>
        <div class='course-box'>
          <div class='course-img'>
            <%= image_tag 'landing/img_course_01.png' %>
          </div>
          <div class='course-title'>大學/研究所</div>
          <div class='course-description'>
            體驗歐美教育文化，培養專業學術能力<br />免托福、免雅思，成績不夠免擔心<br />
            帶你自信邁入高等學術殿堂！
          </div>
          <a class='btn btn-secondary' href='#'>了解更多</a>
        </div>
      </div>
      <div class='col-md-3 col-sm-6'>
        <div class='course-box'>
          <div class='course-img'>
            <%= image_tag 'landing/img_course_02.png' %>
          </div>
          <div class='course-title'>學院</div>
          <div class='course-description'>
            轉入世界名校的最佳跳板<br />
            輕鬆轉換跑道、學習一技之長，求職很easy<br />
            節省留學花費，學習事半功倍！
          </div>
          <a class='btn btn-secondary' href='#'>了解更多</a>
        </div>
      </div>
      <div class='col-md-3 col-sm-6'>
        <div class='course-box'>
          <div class='course-img'>
            <%= image_tag 'landing/img_course_03.png' %>
          </div>
          <div class='course-title'>語言學校</div>
          <div class='course-description'>
            不只英語學習，更讓你找回自己<br />
            全球500多個旅遊熱門地點<br />
            給你最精彩的遊學行程！
          </div>
          <a class='btn btn-secondary' href='#'>了解更多</a>
        </div>
      </div>
      <div class='col-md-3 col-sm-6'>
        <div class='course-box'>
          <div class='course-img'>
            <%= image_tag 'landing/img_course_04.png' %>
          </div>
          <div class='course-title'>高中</div>
          <div class='course-description'>
            提前為你的未來做好萬全準備<br />
            高中畢業，立刻銜接歐美頂尖大學<br />
            讓你贏在人生起跑線！
          </div>
          <a class='btn btn-secondary' href='#'>了解更多</a>
        </div>
      </div>
    </div>
  </div>
</div>
