<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>OH!Study 留遊學教育中心</title>

    <link href="/stylesheets/normalize.css" rel="stylesheet" /><link href="/stylesheets/all.css" rel="stylesheet" />
  </head>

  <body class="views views_index views_index_discounts" data-spy="scroll" data-target="#index-navigate-bar">
    <div class='l-header navbar navbar-default'>
  <div class='l-container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-menu" aria-expanded="false">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class='logo navbar-brand'>
        <a href="/"><img alt="OH!study" src="/images/landing/icn_logo.png" /></a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="header-menu">
      <ul class='menu nav navbar-nav'>
        <li class="">
          <span class='menu-label'>找學校</span>
          <ul class='sub-menu search-school'>
            <li>
              <div class='sub-menu-list'>
                <a href="/ohapply/ohapply.html">全部學校</a>
                <a href="/ohapply/ohapply.html">美國</a>
                <a href="/ohapply/ohapply.html">加拿大</a>
                <a href="/ohapply/ohapply.html">英國</a>
                <a href="/ohapply/ohapply.html">歐洲</a>
                <a href="/ohapply/ohapply.html">紐西蘭</a>
                <a href="/ohapply/ohapply.html">澳洲</a>
                <a href="/ohapply/ohapply.html">亞洲及其他國家</a>
              </div>
              <div class='sub-menu-label'>國家</div>
            </li>
            <li>
              <div class='sub-menu-list'>
                <a href="/ohapply/ohapply.html">全部課程</a>
                <a href="/ohapply/ohapply.html">大學／研究所</a>
                <a href="/ohapply/ohapply.html">學院</a>
                <a href="/ohapply/ohapply.html">語言學校</a>
                <a href="/ohapply/ohapply.html">高中</a>
              </div>
              <div class='sub-menu-label'>課程</div>
            </li>
            <li>
              <div class='sub-menu-list'>
                <a href="/ohapply/ohapply.html">全部科系</a>
                <a href="/ohapply/ohapply.html">商業管理</a>
                <a href="/ohapply/ohapply.html">設計</a>
                <a href="/ohapply/ohapply.html">飯店管理</a>
                <a href="/ohapply/ohapply.html">資訊科技</a>
                <a href="/ohapply/ohapply.html">教育</a>
                <a href="/ohapply/ohapply.html">健康照護</a>
                <a href="/ohapply/ohapply.html">其他</a>
              </div>
              <div class='sub-menu-label'>科系</div>
            </li>
          </ul>
        </li>
        <li class="">
          <span class='menu-label'>校友分享</span>
          <div class='sub-menu student-sharing'>
            <a href="/osstudent.html">全部國家</a>
            <a href="/osstudent.html">美國</a>
            <a href="/osstudent.html">加拿大</a>
            <a href="/osstudent.html">英國</a>
            <a href="/osstudent.html">歐洲</a>
            <a href="/osstudent.html">紐西蘭</a>
            <a href="/osstudent.html">澳洲</a>
            <a href="/osstudent.html">亞洲及其他國家</a>
          </div>
        </li>
        <li class="">
          <span class='menu-label'>最新消息</span>
          <div class='sub-menu news'>
            <a href="/news/page_osnews.html">留遊學快訊</a>
            <a href="/news/seminars.html">留遊學講座</a>
            <a href="/news/preferential.html">學校優惠</a>
          </div>
        </li>
        <li>
          <span class='menu-label'>活動快報</span>
          <div class='sub-menu events'>
            <a href="/">海外留遊學展</a>
            <a href="/">OH! Study Club</a>
            <a href="/">活動花絮</a>
          </div>
        </li>
        <li>
          <span class='menu-label'>關於我們</span>
          <div class='sub-menu about'>
            <a href="/">品牌故事</a>
            <a href="/">我們的服務</a>
            <a href="/">為什麼選擇我們</a>
            <a href="/">專業諮詢團隊</a>
            <a href="/">全省服務中心</a>
          </div>
        </li>
      </ul>
      <div class='reservation'>
        <a href="/webform.html" class="btn btn-primary btn-lg">預約諮詢</a>
      </div>
    </div><!-- /.navbar-collapse -->
  </div>
</div>

    <div id='discounts' class='discounts'>
  <div class='l-container'>
    <h2>找優惠</h2>
    <div class='row'>
      <div class='col-md-4'>
  <a href="#" class='discount-box-wrapper'>
    <div class='discount-box england'>
      <div class='discount-img'>
        <span class='badge'>英國</span>
        <img src='http://via.placeholder.com/360x220'>
      </div>
      <div class='discount-title'>
        <span class='en'>Daemen College</span>
        <span>德門學院</span>
      </div>
      <div class="discount-body">
        免申請費，還能享最高 75 折的學費！另有超值的宿舍優惠
      </div>
    </div>
  </a>
</div>

      <div class='col-md-4'>
  <a href="#" class='discount-box-wrapper'>
    <div class='discount-box america'>
      <div class='discount-img'>
        <span class='badge'>美國</span>
        <img src='http://via.placeholder.com/360x220'>
      </div>
      <div class='discount-title'>
        <span class='en'>California State University Monterey Bay</span>
        <span>加州州立大學 蒙特利灣分校</span>
      </div>
      <div class="discount-body">
        學費享折扣，另外免費送 Garmin 運動手錶及 Apple 禮品卡
      </div>
    </div>
  </a>
</div>

      <div class='col-md-4'>
  <a href="#" class='discount-box-wrapper'>
    <div class='discount-box canada'>
      <div class='discount-img'>
        <span class='badge'>加拿大</span>
        <img src='http://via.placeholder.com/360x220'>
      </div>
      <div class='discount-title'>
        <span class='en'>Johnson & Wales University</span>
        <span>強生威爾斯大學</span>
      </div>
      <div class="discount-body">
        只要報名四週以上，即刻免費贈送環球影城門票即享有學費優惠！
      </div>
    </div>
  </a>
</div>

    </div>
    <div class='button-center-align'>
      <a href="/news/preferential.html" class="btn btn-secondary">看更多優惠</a>
    </div>
  </div>
</div>

    <div class='l-footer'>
  <div class='privacy'>隱私保護政策 OH!Study Education Consulting Center. All Rights Reserved.</div>
  <div class='social-medias'>
      <a href='#' class='social-media'>
        <img src="/images/landing/icn_fb.png" alt="Icn fb" />
      </a>
      <a href='#' class='social-media'>
        <img src="/images/landing/icn_twitter.png" alt="Icn twitter" />
      </a>
      <a href='#' class='social-media'>
        <img src="/images/landing/icn_ig.png" alt="Icn ig" />
      </a>
      <a href='#' class='social-media'>
        <img src="/images/landing/icn_line.png" alt="Icn line" />
      </a>
  </div>
  <div class='back-to-top'>
    <span>回到頂端</span>
    <img src="/images/icon-todo-replace.png" alt="Icon todo replace" />
  </div>
</div>

    <script src="/javascripts/all.js"></script>
  </body>
</html>
