<div id='experience-sharing' class='experience-sharing'>
  <div class='l-container'>
    <h2>校友分享</h2>
    <div class='row'>
      <div class='col-sm-4'>
        <%= partial "views/osstudent/sharing_box" %>
      </div>
      <div class='col-sm-4'>
        <%= partial "views/osstudent/sharing_box" %>
      </div>
      <div class='col-sm-4'>
        <%= partial "views/osstudent/sharing_box" %>
      </div>
    </div>
    <div class="button-center-align">
      <%= link_to '看更多心得分享', '/osstudent.html', class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
