<div id='global-search' class='global-search'>
  <button class='btn-close'>
    <%= image_tag 'landing/btn_cancel_big_normal.png', class: 'icon-close' %>
  </button>
  <div class='l-container'>
    <div class='search-field'>
      <%= image_tag 'landing/btn_search_white_normal.png', class: 'icon-search' %>
      <input type='text' class='search-field-input' placeholder='搜尋你想找的國家、城市或課程...'>
      <button class='btn btn-secondary search-field-button'>搜尋</button>
    </div>
    <div class='popular-keyword'>
      <div class='popular-keyword-header'>熱門特搜</div>
      <div class='popular-keyword-body'>
        <a href='ohapply/ohapply.html' class='keyword'>大學附設語言</a>
        <a href='ohapply/ohapply.html' class='keyword'>大學轉學課程</a>
        <a href='ohapply/ohapply.html' class='keyword'>遊學打工</a>
        <a href='ohapply/ohapply.html' class='keyword'>社區大學/技職學院</a>
        <a href='ohapply/ohapply.html' class='keyword'>研究所</a>
        <a href='ohapply/ohapply.html' class='keyword'>加州(洛杉磯/舊金山/聖地牙哥)</a>
        <a href='ohapply/ohapply.html' class='keyword'>奧勒岡州(波特蘭)</a>
        <a href='ohapply/ohapply.html' class='keyword'>華盛頓州(西雅圖)</a>
        <a href='ohapply/ohapply.html' class='keyword'>東岸(紐約/波士頓地區)</a>
        <a href='ohapply/ohapply.html' class='keyword'>卑詩省 (溫哥華/維多利亞)</a>
        <a href='ohapply/ohapply.html' class='keyword'>亞伯達(卡加利)</a>
        <a href='ohapply/ohapply.html' class='keyword'>曼尼托巴(溫尼伯)</a>
        <a href='ohapply/ohapply.html' class='keyword'>魁北克(渥太華/蒙特婁)</a>
        <a href='ohapply/ohapply.html' class='keyword'>倫敦</a>
        <a href='ohapply/ohapply.html' class='keyword'>牛津</a>
        <a href='ohapply/ohapply.html' class='keyword'>劍橋</a>
        <a href='ohapply/ohapply.html' class='keyword'>布萊頓</a>
        <a href='ohapply/ohapply.html' class='keyword'>伯恩茅斯</a>
        <a href='ohapply/ohapply.html' class='keyword'>愛丁堡</a>
        <a href='ohapply/ohapply.html' class='keyword'>都柏林</a>
        <a href='ohapply/ohapply.html' class='keyword'>英格蘭</a>
        <a href='ohapply/ohapply.html' class='keyword'>蘇格蘭</a>
        <a href='ohapply/ohapply.html' class='keyword'>瑞士</a>
        <a href='ohapply/ohapply.html' class='keyword'>愛爾蘭 </a>
      </div>
    </div>
  </div>
</div>
