<div class="index-news">
  <div class="l-container">
    <h2>最新消息</h2>
    <div class="row">
      <div class="col-sm-6">
        <div class="news-block latest">
          <div class="news-block-header">
            <%= image_tag 'landing/icn_news.png' %>
            <span>留遊學快訊</span>
          </div>
          <div class="news-block-body">
            <ul class='news-block-list'>
              <li>
                <span class='badge europe'>歐洲</span>
                <a>光亮的天真，身影似的不可解脫。</a>
              </li>
              <li>
                <span class='badge asia'>亞洲</span>
                <a>而況揶揄還不止此，為什麼我不能在你的生前，連著一息滋潤的水氣</a>
              </li>
              <li>
                <span class='badge canada'>加拿大</span>
                <a>
                  正如你生前我不知欣喜，但那晚雖則結識了一個可愛的小友，許是懺悔，我的小彼得
                </a>
              </li>
              <li>
                <span class='badge new-zealand'>紐西蘭</span>
                <a>
                  是懺悔，挫折時有鼓勵
                </a>
              </li>
              <li>
                <span class='badge america'>美國</span>
                <a>
                  萊因河與揚子江
                </a>
              </li>
              <li>
                <span class='badge australia'>澳洲</span>
                <a>
                  一經同伴的牴觸，我們的鏈永遠是制定我們行動的上司！我們應得感謝上蒼的是他不可度量
                </a>
              </li>
            </ul>
          </div>
          <div class="news-block-footer">
            <%= link_to '更多快訊', '/news/page_osnews.html' %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="news-block lecture-course">
          <div class="news-block-header">
            <%= image_tag 'landing/icn_events.png' %>
            <span>留遊學講座</span>
          </div>
          <div class="news-block-body">
            <ul class='news-block-list'>
              <li>
                <span class='date'>04/11/2018</span>
                <span class='badge taipei'>台北</span>
                <a>光亮的天真，身影似的不可解脫。</a>
              </li>
              <li>
                <span class='date'>04/11/2018</span>
                <span class='badge hsinchu'>新竹</span>
                <a>而況揶揄還不止此，為什麼我不能在你的生前，連著一息滋潤的水氣</a>
              </li>
              <li>
                <span class='date'>04/11/2018</span>
                <span class='badge taichung'>台中</span>
                <a>
                  正如你生前我不知欣喜，但那晚雖則結識了一個可愛的小友，許是懺悔，我的小彼得
                </a>
              </li>
              <li>
                <span class='date'>04/11/2018</span>
                <span class='badge kaohsuing'>高雄</span>
                <a>
                  是懺悔，挫折時有鼓勵
                </a>
              </li>
              <li>
                <span class='date'>04/11/2018</span>
                <span class='badge taipei'>台北</span>
                <a>
                  萊因河與揚子江
                </a>
              </li>
              <li>
                <span class='date'>04/11/2018</span>
                <span class='badge hsinchu'>新竹</span>
                <a>
                  一經同伴的牴觸，我們的鏈永遠是制定我們行動的上司！我們應得感謝上蒼的是他不可度量
                </a>
              </li>
            </ul>
          </div>
          <div class="news-block-footer">
            <%= link_to '更多講座', '/news/seminars.html' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
