<div id='index-navigate-bar' class='index-navigate-bar'>
  <div class='l-container'>
    <ul class='nav index-navigate-bar-selector' role='tablist'>
      <li class='active'><a href='#countries'>找國家</a></li>
      <li><a href='#courses'>找課程</a></li>
      <li><a href='#discounts'>找優惠</a></li>
      <li><a href='#our-service'>找服務</a></li>
      <li><a href='#experience-sharing'>校友分享</a>
    </ul>
    <ul class='nav index-navigate-bar-menu' role='tablist'>
      <li><a class='scrollTo' href='#countries'>找國家</a></li>
      <li><a class='scrollTo' href='#courses'>找課程</a></li>
      <li><a class='scrollTo' href='#discounts'>找優惠</a></li>
      <li><a class='scrollTo' href='#our-service'>找服務</a></li>
      <li><a class='scrollTo' href='#experience-sharing'>校友分享</a></li>
      <li class='search'>
        <%= image_tag 'landing/btn_search_white_normal.png' %>
        <span>搜尋</span>
      </li>
    </ul>
    <div class='search is-mobile'>
      <%= image_tag 'landing/btn_search_white_normal.png' %>
    </div>
  </div>
</div>
