<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>OH!Study 留遊學教育中心</title>

    <link href="/stylesheets/normalize.css" rel="stylesheet" /><link href="/stylesheets/all.css" rel="stylesheet" />
  </head>

  <body class="views views_index views_index_index_news" data-spy="scroll" data-target="#index-navigate-bar" data-offset='140'>
    <div class='l-header navbar navbar-default'>
  <div class='l-container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-menu" aria-expanded="false">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class='logo'>
        <a href="/"><img alt="OH!study" src="/images/landing/icn_logo.png" /></a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="header-menu">
      <ul class='menu nav navbar-nav'>
        <li class="">
          <span class='menu-label'>找學校</span>
          <ul class='sub-menu search-school'>
            <li class='clearfix'>
              <div class='sub-menu-label'>國家</div>
              <div class='sub-menu-list'>
                <a href="/ohapply/ohapply.html">全部學校</a>
                <a href="/ohapply/ohapply.html">美國</a>
                <a href="/ohapply/ohapply.html">加拿大</a>
                <a href="/ohapply/ohapply.html">英國</a>
                <a href="/ohapply/ohapply.html">歐洲</a>
                <a href="/ohapply/ohapply.html">紐西蘭</a>
                <a href="/ohapply/ohapply.html">澳洲</a>
                <a href="/ohapply/ohapply.html">亞洲及其他國家</a>
              </div>
            </li>
            <li class='clearfix'>
              <div class='sub-menu-label'>課程</div>
              <div class='sub-menu-list'>
                <a href="/ohapply/ohapply.html">全部課程</a>
                <a href="/ohapply/ohapply.html">大學／研究所</a>
                <a href="/ohapply/ohapply.html">學院</a>
                <a href="/ohapply/ohapply.html">語言學校</a>
                <a href="/ohapply/ohapply.html">高中</a>
              </div>
            </li>
            <li class='clearfix'>
              <div class='sub-menu-label'>科系</div>
              <div class='sub-menu-list'>
                <a href="/ohapply/ohapply.html">全部科系</a>
                <a href="/ohapply/ohapply.html">商業管理</a>
                <a href="/ohapply/ohapply.html">設計</a>
                <a href="/ohapply/ohapply.html">飯店管理</a>
                <a href="/ohapply/ohapply.html">資訊科技</a>
                <a href="/ohapply/ohapply.html">教育</a>
                <a href="/ohapply/ohapply.html">健康照護</a>
                <a href="/ohapply/ohapply.html">其他</a>
              </div>
            </li>
          </ul>
        </li>
        <li class="">
          <span class='menu-label'>校友分享</span>
          <div class='sub-menu student-sharing'>
            <a href="/osstudent.html">全部國家</a>
            <a href="/osstudent.html">美國</a>
            <a href="/osstudent.html">加拿大</a>
            <a href="/osstudent.html">英國</a>
            <a href="/osstudent.html">歐洲</a>
            <a href="/osstudent.html">紐西蘭</a>
            <a href="/osstudent.html">澳洲</a>
            <a href="/osstudent.html">亞洲及其他國家</a>
          </div>
        </li>
        <li class="">
          <span class='menu-label'>最新消息</span>
          <div class='sub-menu news'>
            <a href="/news/page_osnews.html">留遊學快訊</a>
            <a href="/news/seminars.html">留遊學講座</a>
            <a href="/news/preferential.html">學校優惠</a>
          </div>
        </li>
        <li>
          <span class='menu-label'>專屬活動</span>
          <div class='sub-menu events'>
            <a href="/">海外留遊學展</a>
            <a href="/">OH! Study Club</a>
            <a href="/promotion.html">OH! 優惠專案</a>
            <a href="/">活動花絮</a>
          </div>
        </li>
        <li class="">
          <span class='menu-label'>關於我們</span>
          <div class='sub-menu about'>
            <a href="/aboutohstudy.html">我們的故事</a>
            <a href="/aboutohstudy.html#about-our-service">我們的服務</a>
            <a href="/aboutohstudy.html#about-our-advantage">為什麼選擇我們</a>
            <a href="/aboutohstudy.html#about-our-team">專業顧問團隊</a>
            <a href="/aboutohstudy.html#about-our-office">全省服務中心</a>
          </div>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    <div class='reservation'>
      <a href="/webform.html" class="btn btn-primary btn-lg">預約諮詢</a>
    </div>
  </div>
</div>

    <div class="l-content">
      <div class="index-news">
  <div class="l-container">
    <h2>最新消息</h2>
    <div class="row">
      <div class="col-sm-6">
        <div class="news-block latest">
          <div class="news-block-header">
            <img src="/images/landing/icn_news.png" alt="Icn news" />
            <span>留遊學快訊</span>
          </div>
          <div class="news-block-body">
            <ul class='news-block-list'>
              <li>
                <span class='badge europe'>歐洲</span>
                <a>光亮的天真，身影似的不可解脫。</a>
              </li>
              <li>
                <span class='badge asia'>亞洲</span>
                <a>而況揶揄還不止此，為什麼我不能在你的生前，連著一息滋潤的水氣</a>
              </li>
              <li>
                <span class='badge canada'>加拿大</span>
                <a>
                  正如你生前我不知欣喜，但那晚雖則結識了一個可愛的小友，許是懺悔，我的小彼得
                </a>
              </li>
              <li>
                <span class='badge new-zealand'>紐西蘭</span>
                <a>
                  是懺悔，挫折時有鼓勵
                </a>
              </li>
              <li>
                <span class='badge america'>美國</span>
                <a>
                  萊因河與揚子江
                </a>
              </li>
              <li>
                <span class='badge australia'>澳洲</span>
                <a>
                  一經同伴的牴觸，我們的鏈永遠是制定我們行動的上司！我們應得感謝上蒼的是他不可度量
                </a>
              </li>
            </ul>
          </div>
          <div class="news-block-footer">
            <a href="/news/page_osnews.html">更多快訊</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="news-block lecture-course">
          <div class="news-block-header">
            <img src="/images/landing/icn_events.png" alt="Icn events" />
            <span>留遊學講座</span>
          </div>
          <div class="news-block-body">
            <ul class='news-block-list'>
              <li>
                <span class='date'>04/11/2018</span>
                <span class='badge taipei'>台北</span>
                <a>光亮的天真，身影似的不可解脫。</a>
              </li>
              <li>
                <span class='date'>04/11/2018</span>
                <span class='badge hsinchu'>新竹</span>
                <a>而況揶揄還不止此，為什麼我不能在你的生前，連著一息滋潤的水氣</a>
              </li>
              <li>
                <span class='date'>04/11/2018</span>
                <span class='badge taichung'>台中</span>
                <a>
                  正如你生前我不知欣喜，但那晚雖則結識了一個可愛的小友，許是懺悔，我的小彼得
                </a>
              </li>
              <li>
                <span class='date'>04/11/2018</span>
                <span class='badge kaohsuing'>高雄</span>
                <a>
                  是懺悔，挫折時有鼓勵
                </a>
              </li>
              <li>
                <span class='date'>04/11/2018</span>
                <span class='badge taipei'>台北</span>
                <a>
                  萊因河與揚子江
                </a>
              </li>
              <li>
                <span class='date'>04/11/2018</span>
                <span class='badge hsinchu'>新竹</span>
                <a>
                  一經同伴的牴觸，我們的鏈永遠是制定我們行動的上司！我們應得感謝上蒼的是他不可度量
                </a>
              </li>
            </ul>
          </div>
          <div class="news-block-footer">
            <a href="/news/seminars.html">更多講座</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    </div>
    <div class="global-links">
  <ul>
    <li class="discount">
      <a href="/news/preferential.html"></a>
    </li>
    <li class="facebook">
      <a href="https://www.facebook.com/ohstudycenter" target="_blank"></a>
    </li>
    <li class="line">
      <a href="https://www.facebook.com/ohstudycenter" target="_blank"></a>
    </li>
    <li class="instagram">
      <a href="https://www.instagram.com/ohstudycenter/" target="_blank"></a>
    </li>
    <li class="back-to-top"></li>
  </ul>
</div>

    <div class='l-footer'>
  <div class='information-wrapper'>
    <div class='privacy'>
      <span class='privacy-button' data-toggle='modal' data-target='#privacy-modal'>隱私權政策</span>
      <span>E-mail: ohstudy@ohstudy.net</span>
    </div>
    <div class='social-medias'>
        <a href='https://www.facebook.com/ohstudycenter' target='_blank' class='social-media'>
          <img src="/images/landing/icn_fb.png" alt="Icn fb" />
        </a>
        <a href='https://twitter.com/OOhstudy' target='_blank' class='social-media'>
          <img src="/images/landing/icn_twitter.png" alt="Icn twitter" />
        </a>
        <a href='https://www.instagram.com/ohstudycenter/' target='_blank' class='social-media'>
          <img src="/images/landing/icn_ig.png" alt="Icn ig" />
        </a>
        <a href='#' target='_blank' class='social-media'>
          <img src="/images/landing/icn_line.png" alt="Icn line" />
        </a>
    </div>
    <div id='back-to-top' class='back-to-top'>
      <span>回到頂端</span>
      <img src="/images/landing/btn_footer_back_normal.png" alt="Btn footer back normal" />
    </div>
  </div>
  <div class='copyright'>
    哦思達股份有限公司  版權所有 Copyright©2018<br />
    哦加利美有限公司　版權所有 Copyright©2018<br />
    哦加美利有限公司　版權所有 Copyright©2018<br />
    OH!Study Education Consulting Center. All Rights Reserved.　
  </div>
  <div class='modal fade' id='privacy-modal' tabindex='-1' role='dialog'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
        <h3>隱私權政策</h3>
      </div>
      <div class='modal-body'>
        <p>依據中華民國個人資料保護法，請詳閱這份哦思達股份有限公司隱私保護政策，以了解相關重要訊息。
        本隱私權保護政策，適用於您在哦思達股份有限公司向您蒐集之個人資料,將僅限使用於本企業, 並遵守「個人資料保護法」之規定妥善保護您的個人資訊。</p>
        <p>在此前提下，您同意本公司於法律許可之範圍內提供優惠
        資訊或服務，但您可依法律規定的個人資訊權利主張如下事項：閱覽，補充，更正，處理，及刪除。</p>

        <p>如果您在本公司相關網站建立帳號，此網站會在您的電腦上設定並存取 cookie 。你在網站上的資料傳送是有防火牆及加密保護。</p>
        <p>If you create an account with our website, we will website cookies in your computer. Your information is protected by Secure Socket Layer with encription and Firewall and Will not be used outside of Ohstudy.</p>

        <p>哦思達股份有限公司版權所有 不得轉載運用<br />
        Copyright©2018 OH!Study Education Consulting Center.<br />
        All Rights Reserved. copying is prohibited.</p>
      </div>
    </div>
  </div>
</div>

</div>

    <script src="/javascripts/all.js"></script>
  </body>
</html>
