<div class='office'>
  <div class='l-container'>
    <div class='row'>
      <div class='col-md-3 col-sm-6'>
        <div class='office-box taipei'>
          <div class='office-icon'>Taipei</div>
          <div class='office-name'>台北中心</div>
          <div class='office-information'>
            <div class='address'>台北市仁愛路四段109號4樓</div>
            <div class='tel'>電話 | 02-2751-1919</div>
            <div class='fax'>傳真 | 02-2741-2890</div>
          </div>
          <div class='office-map'>
            <a href='https://goo.gl/maps/qgCoFQnqu8o' target='_blank' class='office-location'></a>
          </div>
        </div>
      </div>
      <div class='col-md-3 col-sm-6'>
        <div class='office-box hsinchu'>
          <div class='office-icon'>Hsinchu</div>
          <div class='office-name'>新竹中心</div>
          <div class='office-information'>
            <div class='address'>新竹市中正路20號6樓</div>
            <div class='tel'>電話 | 03-525-1188</div>
            <div class='fax'>傳真 | 03-524-6899</div>
          </div>
          <div class='office-map'>
            <a href='https://goo.gl/maps/YcFVtgTyw442' target='_blank' class='office-location'></a>
          </div>
        </div>
      </div>
      <div class='col-md-3 col-sm-6'>
        <div class='office-box taichung'>
          <div class='office-icon'>Taichung</div>
          <div class='office-name'>台中中心</div>
          <div class='office-information'>
            <div class='address'>台中市台灣大道二段285號26樓之3</div>
            <div class='tel'>電話 | 04-2319-8878</div>
            <div class='fax'>傳真 | 04-2319-4678</div>
          </div>
          <div class='office-map'>
            <a href='https://goo.gl/maps/YJr5S6njCcD2' target='_blank' class='office-location'></a>
          </div>
        </div>
      </div>
      <div class='col-md-3 col-sm-6'>
        <div class='office-box kaohsuing'>
          <div class='office-icon'>Kaohsuing</div>
          <div class='office-name'>高雄中心</div>
          <div class='office-information'>
            <div class='address'>高雄市新興區中正三路2號16樓之2</div>
            <div class='tel'>電話 | 07-238-3636</div>
            <div class='fax'>傳真 | 07-235-4746</div>
          </div>
          <div class='office-map'>
            <a href='https://goo.gl/maps/XBn34YUF3JB2' target='_blank' class='office-location'></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
