<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>OH!Study 留遊學教育中心</title>

    <link href="/stylesheets/normalize.css" rel="stylesheet" /><link href="/stylesheets/all.css" rel="stylesheet" />
  </head>

  <body class="views views_index views_index_our_service" data-spy="scroll" data-target="#index-navigate-bar" data-offset='140'>
    <div class='l-header navbar navbar-default'>
  <div class='l-container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-menu" aria-expanded="false">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class='logo'>
        <a href="/"><img alt="OH!study" src="/images/landing/icn_logo.png" /></a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="header-menu">
      <ul class='menu nav navbar-nav'>
        <li class="">
          <span class='menu-label'>找學校</span>
          <ul class='sub-menu search-school'>
            <li class='clearfix'>
              <div class='sub-menu-label'>國家</div>
              <div class='sub-menu-list'>
                <a href="/ohapply/ohapply.html">全部學校</a>
                <a href="/ohapply/ohapply.html">美國</a>
                <a href="/ohapply/ohapply.html">加拿大</a>
                <a href="/ohapply/ohapply.html">英國</a>
                <a href="/ohapply/ohapply.html">歐洲</a>
                <a href="/ohapply/ohapply.html">紐西蘭</a>
                <a href="/ohapply/ohapply.html">澳洲</a>
                <a href="/ohapply/ohapply.html">亞洲及其他國家</a>
              </div>
            </li>
            <li class='clearfix'>
              <div class='sub-menu-label'>課程</div>
              <div class='sub-menu-list'>
                <a href="/ohapply/ohapply.html">全部課程</a>
                <a href="/ohapply/ohapply.html">大學／研究所</a>
                <a href="/ohapply/ohapply.html">學院</a>
                <a href="/ohapply/ohapply.html">語言學校</a>
                <a href="/ohapply/ohapply.html">高中</a>
              </div>
            </li>
            <li class='clearfix'>
              <div class='sub-menu-label'>科系</div>
              <div class='sub-menu-list'>
                <a href="/ohapply/ohapply.html">全部科系</a>
                <a href="/ohapply/ohapply.html">商業管理</a>
                <a href="/ohapply/ohapply.html">設計</a>
                <a href="/ohapply/ohapply.html">飯店管理</a>
                <a href="/ohapply/ohapply.html">資訊科技</a>
                <a href="/ohapply/ohapply.html">教育</a>
                <a href="/ohapply/ohapply.html">健康照護</a>
                <a href="/ohapply/ohapply.html">其他</a>
              </div>
            </li>
          </ul>
        </li>
        <li class="">
          <span class='menu-label'>校友分享</span>
          <div class='sub-menu student-sharing'>
            <a href="/osstudent.html">全部國家</a>
            <a href="/osstudent.html">美國</a>
            <a href="/osstudent.html">加拿大</a>
            <a href="/osstudent.html">英國</a>
            <a href="/osstudent.html">歐洲</a>
            <a href="/osstudent.html">紐西蘭</a>
            <a href="/osstudent.html">澳洲</a>
            <a href="/osstudent.html">亞洲及其他國家</a>
          </div>
        </li>
        <li class="">
          <span class='menu-label'>最新消息</span>
          <div class='sub-menu news'>
            <a href="/news/page_osnews.html">留遊學快訊</a>
            <a href="/news/seminars.html">留遊學講座</a>
            <a href="/news/preferential.html">學校優惠</a>
          </div>
        </li>
        <li>
          <span class='menu-label'>專屬活動</span>
          <div class='sub-menu events'>
            <a href="/">海外留遊學展</a>
            <a href="/">OH! Study Club</a>
            <a href="/">OH! 優惠專案</a>
            <a href="/">活動花絮</a>
          </div>
        </li>
        <li class="">
          <span class='menu-label'>關於我們</span>
          <div class='sub-menu about'>
            <a href="/aboutohstudy.html#about-our-story">品牌故事</a>
            <a href="/aboutohstudy.html#about-our-service">我們的服務</a>
            <a href="/aboutohstudy.html#about-our-advantage">為什麼選擇我們</a>
            <a href="/aboutohstudy.html#about-our-team">專業諮詢團隊</a>
            <a href="/aboutohstudy.html#about-our-office">全省服務中心</a>
          </div>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    <div class='reservation'>
      <a href="/webform.html" class="btn btn-primary btn-lg">預約諮詢</a>
    </div>
  </div>
</div>

    <div class="l-content">
      <div id='our-service' class='our-service'>
  <div class='l-container'>
    <h2>我們的服務</h2>
    <div class='service-wrapper'>
      <div class='service-banner'>
        <img src="/images/landing/icn_service.png" alt="Icn service" />
      </div>
      <div class='service-items'>
        <div class='service-item-group clearfix'>
          <div class='service-item pull-right'>
            <div class='service-icon'>
              <img src="/images/landing/icn_service_03.png" alt="Icn service 03" />
            </div>
            <div class='service-item-content'>
              <div class='title'>最適合您的選擇</div>
              <div class='desc'>免費個人化諮詢服務</div>
            </div>
          </div>
          <div class='service-item pull-left'>
            <div class='service-icon'>
              <img src="/images/landing/icn_service_01.png" alt="Icn service 01" />
            </div>
            <div class='service-item-content'>
              <div class='title'>國家選擇最多元</div>
              <div class='desc'>合作學校遍佈全球</div>
            </div>
          </div>
        </div>
        <div class='service-item-group clearfix'>
          <div class='service-item pull-right'>
            <div class='service-icon'>
              <img src="/images/landing/icn_service_04.png" alt="Icn service 04" />
            </div>
            <div class='service-item-content'>
              <div class='title'>一站式貼心服務</div>
              <div class='desc'>便利周全的包辦</div>
            </div>
          </div>
          <div class='service-item pull-left'>
            <div class='service-icon'>
              <img src="/images/landing/icn_service_02.png" alt="Icn service 02" />
            </div>
            <div class='service-item-content'>
              <div class='title'>配合學校最豐富</div>
              <div class='desc'>多領域多專業的跨界學習</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    </div>
    <div class="global-links">
  <ul>
    <li class="discount">
      <a href="/news/preferential.html"></a>
    </li>
    <li class="facebook">
      <a href="https://www.facebook.com/ohstudycenter" target="_blank"></a>
    </li>
    <li class="line">
      <a href="https://www.facebook.com/ohstudycenter" target="_blank"></a>
    </li>
    <li class="instagram">
      <a href="https://www.instagram.com/ohstudycenter/" target="_blank"></a>
    </li>
    <li class="back-to-top"></li>
  </ul>
</div>

    <div class='l-footer'>
  <div class='information-wrapper'>
    <div class='privacy'>
      <span class='privacy-button' data-toggle='modal' data-target='#privacy-modal'>隱私權政策</span>
      <span>E-mail: ohstudy@ohstudy.net</span>
    </div>
    <div class='social-medias'>
        <a href='https://www.facebook.com/ohstudycenter' target='_blank' class='social-media'>
          <img src="/images/landing/icn_fb.png" alt="Icn fb" />
        </a>
        <a href='https://twitter.com/OOhstudy' target='_blank' class='social-media'>
          <img src="/images/landing/icn_twitter.png" alt="Icn twitter" />
        </a>
        <a href='https://www.instagram.com/ohstudycenter/' target='_blank' class='social-media'>
          <img src="/images/landing/icn_ig.png" alt="Icn ig" />
        </a>
        <a href='#' target='_blank' class='social-media'>
          <img src="/images/landing/icn_line.png" alt="Icn line" />
        </a>
    </div>
    <div id='back-to-top' class='back-to-top'>
      <span>回到頂端</span>
      <img src="/images/landing/btn_footer_back_normal.png" alt="Btn footer back normal" />
    </div>
  </div>
  <div class='copyright'>
    哦思達股份有限公司  版權所有 Copyright©2018<br />
    哦加利美有限公司　版權所有 Copyright©2018<br />
    哦加美利有限公司　版權所有 Copyright©2018<br />
    OH!Study Education Consulting Center. All Rights Reserved.　
  </div>
  <div class='modal fade' id='privacy-modal' tabindex='-1' role='dialog'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
        <h3>隱私權政策</h3>
      </div>
      <div class='modal-body'>
        <p>依據中華民國個人資料保護法，請詳閱這份哦思達股份有限公司隱私保護政策，以了解相關重要訊息。
        本隱私權保護政策，適用於您在哦思達股份有限公司向您蒐集之個人資料,將僅限使用於本企業, 並遵守「個人資料保護法」之規定妥善保護您的個人資訊。</p>
        <p>在此前提下，您同意本公司於法律許可之範圍內提供優惠
        資訊或服務，但您可依法律規定的個人資訊權利主張如下事項：閱覽，補充，更正，處理，及刪除。</p>

        <p>如果您在本公司相關網站建立帳號，此網站會在您的電腦上設定並存取 cookie 。你在網站上的資料傳送是有防火牆及加密保護。</p>
        <p>If you create an account with our website, we will website cookies in your computer. Your information is protected by Secure Socket Layer with encription and Firewall and Will not be used outside of Ohstudy.</p>

        <p>哦思達股份有限公司版權所有 不得轉載運用<br />
        Copyright©2018 OH!Study Education Consulting Center.<br />
        All Rights Reserved. copying is prohibited.</p>
      </div>
    </div>
  </div>
</div>

</div>

    <script src="/javascripts/all.js"></script>
  </body>
</html>
