<div id="slider-events" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <!--
  <ol class="carousel-indicators">
    <li data-target="#slider-events" data-slide-to="0" class="active"></li>
    <li data-target="#slider-events" data-slide-to="1"></li>
    <li data-target="#slider-events" data-slide-to="2"></li>
  </ol>
-->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item item-1 active" style="background-image: url('http://via.placeholder.com/1440x240')">
      <div class="carousel-caption">
        <div class='event-title'>Oh! Study Club</div>
        <p>專屬會員服務，現在加入享有眾多出國優惠！</p>
        <a href='http://ohstudy.net/club/' target='_blank' class='btn event-link'>即刻前往</a>
      </div>
    </div>
    <div class="item item-2" style="background-image: url('http://via.placeholder.com/1440x240')">
      <div class="carousel-caption">
        <div class='event-title'>海外留遊學展</div>
        <p>OH!海外求學圓夢的起點從這開始~台灣規模最大，每年春秋兩季百所學校參展 ，完整留遊學資訊、獎學金及優惠一次搜尋。</p>
        <a href='http://ohstudy.net/club/' target='_blank' class='btn event-link'>即刻前往</a>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#slider-events" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#slider-events" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
