<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta property="og:url"           content="http://ohstudy.net/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="OH!Study 留遊學教育中心" />
    <meta property="og:description"   content="OH! Study 留遊學教育中心在台以超過22年的經驗，提供美國、加拿大、英國及歐洲地區、澳洲、紐西蘭、亞州地區，各國專業的語言、大學、研究所、社區大學、技職學院、語言學校、中學、寄宿菁英中學、打工度假 等代辦諮詢服務" />
    <meta name="description" content="OH! Study 留遊學教育中心在台以超過22年的經驗，提供美國、加拿大、英國及歐洲地區、澳洲、紐西蘭、亞州地區，各國專業的語言、大學、研究所、社區大學、技職學院、語言學校、中學、寄宿菁英中學、打工度假 等代辦諮詢服務">
    <meta name="keywords" content="留學,遊學,打工遊學,打工度假,ohstudy代辦">

    <title>OH!Study 留遊學教育中心</title>
    <link rel="icon" type="image/png" href="/images/favicon.png" sizes="16x16">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link href="/stylesheets/normalize.css" rel="stylesheet" /><link href="/stylesheets/all.css" rel="stylesheet" />
  </head>

  <body class="views views_oh_apply views_oh_apply_city_introduction" data-spy="scroll" data-target="#index-navigate-bar" data-offset='140'>
    <div class='oh-study-wrapper'>
      <div class='se-pre-con'>
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </div>
      <div class='l-header navbar navbar-default'>
  <div class='l-container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-menu" aria-expanded="false">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class='logo'>
        <a href="/"><img alt="OH!study" src="/images/landing/icn_logo.png" /></a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="header-menu">
      <ul class='menu nav navbar-nav'>
        <!-- 當前頁面在此分類下，加入 class name 'active' -->
        <li class="">
          <span class='menu-label'>找學校</span>
          <div class='sub-menu search-school'>
            <div class='sub-sub-menu'>
              <div class='sub-menu-label'><span>留學</span></div>
              <ul class='sub-menu search-school-sub-menu'>
                <li class='clearfix'>
                  <div class='sub-menu-label'>國家</div>
                  <div class='sub-menu-list'>
                    <a href="/ohapply/ohapply-all.html">全部學校</a>
                    <a href="/ohapply/ohapply-america.html">美國</a>
                    <a href="/ohapply/ohapply-canada.html">加拿大</a>
                    <a href="/ohapply/ohapply-england.html">英國</a>
                    <a href="/ohapply/ohapply-europe.html">歐洲</a>
                    <a href="/ohapply/ohapply-new-zealand.html">紐西蘭</a>
                    <a href="/ohapply/ohapply-australia.html">澳洲</a>
                    <a href="/ohapply/ohapply-asia.html">亞洲及其他國家</a>
                  </div>
                </li>
                <li class='clearfix'>
                  <div class='sub-menu-label'>課程</div>
                  <div class='sub-menu-list'>
                    <a href="/ohapply/ohapply-all.html">全部課程</a>
                    <a href="/ohapply/ohapply-all.html">大學／研究所</a>
                    <a href="/ohapply/ohapply-all.html">學院</a>
                    <a href="/ohapply/ohapply-all.html">語言學校</a>
                    <a href="/ohapply/ohapply-all.html">高中</a>
                  </div>
                </li>
                <li class='clearfix'>
                  <div class='sub-menu-label'>科系</div>
                  <div class='sub-menu-list'>
                    <a href="/ohapply/ohapply-all.html">全部科系</a>
                    <a href="/ohapply/ohapply-all.html">商業管理</a>
                    <a href="/ohapply/ohapply-all.html">設計</a>
                    <a href="/ohapply/ohapply-all.html">飯店管理</a>
                    <a href="/ohapply/ohapply-all.html">資訊科技</a>
                    <a href="/ohapply/ohapply-all.html">教育</a>
                    <a href="/ohapply/ohapply-all.html">健康照護</a>
                    <a href="/ohapply/ohapply-all.html">其他</a>
                  </div>
                </li>
              </ul>
            </div>
            <div class='sub-sub-menu'>
              <div class='sub-menu-label'><span>遊學</span></div>
              <ul class='sub-menu search-school-sub-menu'>
                <li class='clearfix'>
                  <div class='sub-menu-label'>國家</div>
                  <div class='sub-menu-list'>
                    <a href="/ohapply/ohapply-all-esl.html">全部學校</a>
                    <a href="/ohapply/ohapply-america-esl.html">美國</a>
                    <a href="/ohapply/ohapply-america-esl.html">加拿大</a>
                    <a href="/ohapply/ohapply-america-esl.html">英國</a>
                    <a href="/ohapply/ohapply-america-esl.html">歐洲</a>
                    <a href="/ohapply/ohapply-america-esl.html">紐西蘭</a>
                    <a href="/ohapply/ohapply-america-esl.html">澳洲</a>
                    <a href="/ohapply/ohapply-america-esl.html">亞洲及其他國家</a>
                  </div>
                </li>
                <li class='clearfix'>
                  <div class='sub-menu-label'>課程</div>
                  <div class='sub-menu-list'>
                    <div class='sub-menu-col'>
                      <a href="/ohapply/ohapply-all-esl.html">全部語言課程</a>
                      <a href="/ohapply/ohapply-all-esl.html">一般英語</a>
                      <a href="/ohapply/ohapply-all-esl.html">密集英語</a>
                      <a href="/ohapply/ohapply-all-esl.html">半密集英語</a>
                      <a href="/ohapply/ohapply-all-esl.html">超密集英語</a>
                      <a href="/ohapply/ohapply-all-esl.html">英語+專業</a>
                      <a href="/ohapply/ohapply-all-esl.html">商業溝通</a>
                      <a href="/ohapply/ohapply-all-esl.html">打工遊學</a>
                    </div>
                    <div class='sub-menu-col'>
                      <a href="/ohapply/ohapply-all-esl.html">青少年遊學</a>
                      <a href="/ohapply/ohapply-all-esl.html">一般法語</a>
                      <a href="/ohapply/ohapply-all-esl.html">一般德語</a>
                      <a href="/ohapply/ohapply-all-esl.html">義大利文</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <!-- 當前頁面在此分類下，加入 class name 'active' -->
        <li class="">
          <span class='menu-label'>校友分享</span>
          <div class='sub-menu student-sharing'>
            <a href="/osstudent.html">全部國家</a>
            <a href="/osstudent.html">美國</a>
            <a href="/osstudent.html">加拿大</a>
            <a href="/osstudent.html">英國</a>
            <a href="/osstudent.html">歐洲</a>
            <a href="/osstudent.html">紐西蘭</a>
            <a href="/osstudent.html">澳洲</a>
            <a href="/osstudent.html">亞洲及其他國家</a>
          </div>
        </li>
        <!-- 當前頁面在此分類下，加入 class name 'active' -->
        <li class="">
          <span class='menu-label'>最新消息</span>
          <div class='sub-menu news'>
            <a href="/news/page_osnews.html">留遊學快訊</a>
            <a href="/news/seminars.html">留遊學講座</a>
            <a href="/news/preferential.html">學校優惠</a>
          </div>
        </li>
        <li>
          <span class='menu-label'>專屬活動</span>
          <div class='sub-menu events'>
            <a href="https://ohstudy.net/edfair/" target="_blank">海外留遊學展</a>
            <a href="http://ohstudy.net/club/" target="_blank">OH! Study Club</a>
            <a href="/promotion.html">OH! 優惠專案</a>
            <a href="/" target="_blank">活動花絮</a>
          </div>
        </li>
        <!-- 若當前頁面在此分類下，加入 class name 'active' -->
        <li class="">
          <span class='menu-label'>關於我們</span>
          <div class='sub-menu about'>
            <a href="/aboutohstudy.html">我們的故事</a>
            <a href="/aboutohstudy.html#about-our-service">我們的服務</a>
            <a href="/aboutohstudy.html#about-our-advantage">為什麼選擇我們</a>
            <a href="/aboutohstudy.html#about-our-team">專業顧問團隊</a>
            <a href="/aboutohstudy.html#about-our-office">全台服務中心</a>
          </div>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    <div class='reservation'>
      <a href="/webform.html" class="btn btn-primary btn-lg">預約諮詢</a>
    </div>
  </div>
</div>

      <div class="l-content">
        <div class='city-introduction'>
  <div class='l-container-sm content-wrapper'>
    <div class='content-header-title'>美國</div>
    <div class='content-header-intro'>美利堅合眾國，(英語：The United States of America，縮寫：USA)，簡稱美國，首都為華盛頓哥倫比亞特區，最大城市為紐約市，是由50個州和華盛頓哥倫比 亞特區組成的聯邦共和立憲制國家。美國目前有50個州，面積約962.9萬平方公美國里，是個多元文化和多元民族的國家。</div>
    <img src='http://via.placeholder.com/680x360'>
    <div class='content-title'>
      熱門城市推薦與特色
    </div>
    <div class='content-sub-title'>
      美東 - 交通系統方便
    </div>
    <table class='content-table'>
      <tr>
        <td class='content-table-title'>波士頓 Boston</td>
        <td>集多所世界級名校於一地，豐富的歷史背景更讓這座優雅的城市充滿學術氣息，讓你不由自主的愛上漫步在此。</td>
      </tr>
      <tr>
        <td class='content-table-title'>邁阿密 Miami</td>
        <td>陽光明媚，最好的購物區、異國風味的美食、藝術時尚景點、古蹟博物館歷史、最南邊海岸線、白色沙灘海邊在邁阿密。</td>
      </tr>
      <tr>
        <td class='content-table-title'>紐約 New York City</td>
        <td>世界首都之一的大蘋果充滿著多樣的文化、藝術、流行、運動與音樂，是座魅力十足令人流連忘返無法自拔的華麗城市。</td>
      </tr>
      <tr>
        <td class='content-table-title'>費城 Philadelphia</td>
        <td>費城位於美國第一大城紐約及首府華盛頓D.C的中間，並且是美國著名的古城之一，城市內的建築古色古香。</td>
      </tr>
    </table>
    <div class='content-sub-title'>
      美中 - 美式鄉村、華人少、生活費低廉
    </div>
    <table class='content-table'>
      <tr>
        <td class='content-table-title'>芝加哥 Chicago</td>
        <td>是美國僅次於紐約市和洛杉磯的第三大都會區，以藝術、建築、爵士風、商業及中西部特有的好客文化而聞名於世。</td>
      </tr>
      <tr>
        <td class='content-table-title'>丹佛市 Denver</td>
        <td>是全美排名19位的大都市。整個城市晴空萬里、自然大地一覽無餘。這裡不僅空氣清新透明，城市規劃也整潔規範，是全美出名的『最易居住的城市』之一。</td>
      </tr>
      <tr>
        <td class='content-table-title'>麥迪遜市 Madison</td>
        <td>麥迪遜市為威斯康辛州首府也是典型大學城，美國電視台大部份的主播都在威斯康辛州受教育。食衣住行方便，環境優美且安全的城市。在過去幾十年內全國性的雜誌在安全、市容、教育、消費水平、娛樂與人文環境及生活質量都把麥迪遜評為全美第一名。</td>
      </tr>
      <tr>
        <td class='content-table-title'>費城 Philadelphia</td>
        <td>費城位於美國第一大城紐約及首府華盛頓D.C的中間，並且是美國著名的古城之一，城市內的建築古色古香。</td>
      </tr>
    </table>
    <div class='content-sub-title'>
      美西 - 陽光！沙灘！娛樂！
    </div>
    <table class='content-table'>
      <tr>
        <td class='content-table-title'>波夕 Boise</td>
        <td>愛達荷州的最大城市，是個優美且充滿文藝氣息的城市，曾被評選為全美最適合居住的城市之一。</td>
      </tr>
      <tr>
        <td class='content-table-title'>爾灣 Irvine</td>
        <td>美國加州橘郡的一個城市，成立時有完整的城市規劃，所以街道寬廣，市容整齊。</td>
      </tr>
      <tr>
        <td class='content-table-title'>洛杉磯 Los Angeles</td>
        <td>陽光！沙灘！娛樂！還有藝術與電影讓這座城市活力十足！迪士尼樂園、環球影城…等主題樂園更讓這座城市老少咸宜，充滿歡樂！</td>
      </tr>
      <tr>
        <td class='content-table-title'>波特蘭 Portland</td>
        <td>美國少數低消費免稅城市之一，致力於綠化賦予了這城市無限的生命和前所未有的清新舒適。</td>
      </tr>
      <tr>
        <td class='content-table-title'>河濱 Riverside</td>
        <td>河濱市是河濱郡和內陸帝國的最大城市，該地因位於聖安娜河畔而得名，是加州柑橘產業的發源地。</td>
      </tr>
      <tr>
        <td class='content-table-title'>舊金山 San Francisco</td>
        <td>最適合自助旅行的氣質大城，獨一無二的山坡地形和便利的大眾交通，別忘了多一點時間在這個城市裡留下自已的足跡，大力呼吸一下自由的空氣。</td>
      </tr>
      <tr>
        <td class='content-table-title'>西雅圖 Seattle</td>
        <td>如“西雅圖夜未眠”般浪漫的城市，更是屢獲票選為最適合人們居住的城市之一，想像在咖啡香彌漫的街頭漫步是多愜意的一件事。</td>
      </tr>
    </table>
  </div>
</div>

      </div>
      <div class="global-links">
  <ul>
    <li class="discount">
      <a href="/news/preferential.html"></a>
    </li>
    <li class="facebook">
      <a href="https://www.facebook.com/ohstudycenter" target="_blank"></a>
    </li>
    <li class="line">
      <a href="https://line.me/R/ti/p/%40fwa8538b" target="_blank"></a>
    </li>
    <li class="instagram">
      <a href="https://www.instagram.com/ohstudycenter/" target="_blank"></a>
    </li>
    <li class="back-to-top"></li>
  </ul>
</div>

      <div class='l-footer'>
  <div class='information-wrapper'>
    <div class='privacy'>
      <span class='privacy-button' data-toggle='modal' data-target='#privacy-modal'>隱私權政策</span>
      <span>E-mail: ohstudy@ohstudy.net</span>
    </div>
    <div class='social-medias'>
        <a href='https://www.facebook.com/ohstudycenter' target='_blank' class='social-media'>
          <img src="/images/landing/icn_fb.png" alt="Icn fb" />
        </a>
        <a href='https://twitter.com/OOhstudy' target='_blank' class='social-media'>
          <img src="/images/landing/icn_twitter.png" alt="Icn twitter" />
        </a>
        <a href='https://www.instagram.com/ohstudycenter/' target='_blank' class='social-media'>
          <img src="/images/landing/icn_ig.png" alt="Icn ig" />
        </a>
        <a href='https://line.me/R/ti/p/%40fwa8538b' target='_blank' class='social-media'>
          <img src="/images/landing/icn_line.png" alt="Icn line" />
        </a>
        <a href='https://www.youtube.com/channel/UCJ2Ss_EKDAFOsiJe5ZOJpwA' target='_blank' class='social-media'>
          <img src="/images/landing/icn_youtube.png" alt="Icn youtube" />
        </a>
    </div>
    <div id='back-to-top' class='back-to-top'>
      <span>回到頂端</span>
      <img src="/images/landing/btn_footer_back_normal.png" alt="Btn footer back normal" />
    </div>
  </div>
  <div class='copyright'>
    哦思達股份有限公司  版權所有 Copyright©2018<br />
    哦加利美有限公司　版權所有 Copyright©2018<br />
    哦加美利有限公司　版權所有 Copyright©2018<br />
    OH!Study Education Consulting Center. All Rights Reserved.　
  </div>
  <div class='modal fade' id='privacy-modal' tabindex='-1' role='dialog'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'><img src="/images/landing/btn_cancel_small_normal.png" alt="Btn cancel small normal" /></button>
        <h3>隱私權政策</h3>
      </div>
      <div class='modal-body'>
        <p>依據中華民國個人資料保護法，請詳閱這份哦思達股份有限公司隱私保護政策，以了解相關重要訊息。
        本隱私權保護政策，適用於您在哦思達股份有限公司向您蒐集之個人資料,將僅限使用於本企業, 並遵守「個人資料保護法」之規定妥善保護您的個人資訊。</p>
        <p>在此前提下，您同意本公司於法律許可之範圍內提供優惠
        資訊或服務，但您可依法律規定的個人資訊權利主張如下事項：閱覽，補充，更正，處理，及刪除。</p>

        <p>如果您在本公司相關網站建立帳號，此網站會在您的電腦上設定並存取 cookie 。你在網站上的資料傳送是有防火牆及加密保護。</p>
        <p>If you create an account with our website, we will website cookies in your computer. Your information is protected by Secure Socket Layer with encription and Firewall and Will not be used outside of Ohstudy.</p>

        <p>哦思達股份有限公司版權所有 不得轉載運用<br />
        Copyright©2018 OH!Study Education Consulting Center.<br />
        All Rights Reserved. copying is prohibited.</p>
      </div>
    </div>
  </div>
</div>

</div>

    </div>
    <script src="/javascripts/all.js"></script>
  </body>
</html>
