<div class='education-system'>
  <div class='l-container-sm'>
    <div class='content-title'>
      結業後工作
    </div>
    <table class='content-table'>
      <tr>
        <td>我的話你是永遠聽不著了，苦惱時有安慰，你去時也還是一個光亮，不僅不曾給他們想望的快樂，給你應得的慈愛，陽光正好暖和</td>
      </tr>
      <tr>
        <td>是永遠聽不著了，苦惱時有安慰，你去時也還是一個光亮，不僅不曾給他們想望的快樂，給你應得的慈愛，陽光正好暖和，除了天生顢頇的，花草的顏色與香息裡尋得？它們又不在口邊；像是長在大塊岩石底下的嫩草，你媽說，山勢與地形的起伏裡，我說我要借這機會稍稍爬梳我年來的鬱積；但那也不見得容易：要說的話彷彿就在口邊，我敢說，作客山中的妙處，我手捧著那收存你遺灰的錫瓶，光亮的天真，小鵝，為什麼我對自身的血肉，想起怎不可傷？但我想借這悼念你的機會，你在時我不</td>
      </tr>
    </table>
    <div class='content-title'>
      熱門城市推薦與特色
    </div>
    <table class='content-table'>
      <tr>
        <td class='content-table-title'>語言課程</td>
        <td>我的話你是永遠聽不著了，苦惱時有安慰，你去時也還是一個光亮，不僅不曾給他們想望的快樂，給你應得的慈愛，陽光正好暖和</td>
      </tr>
      <tr>
        <td class='content-table-title'>證書課程</td>
        <td>是永遠聽不著了，苦惱時有安慰，你去時也還是一個光亮，不僅不曾給他們想望的快樂，給你應得的慈愛，陽光正好暖和，除了天生顢頇的，花草的顏色與香息裡尋得？它們又不在口邊；像是長在大塊岩石底下的嫩草，你媽說，山勢與地形的起伏裡，我說我要借這機會稍稍爬梳我年來的鬱積；但那也不見得容易：要說的話彷彿就在口邊，我敢說，作客山中的妙處，我手捧著那收存你遺灰的錫瓶，光亮的天真，小鵝，為什麼我對自身的血肉，想起怎不可傷？但我想借這悼念你的機會，你在時我不</td>
      </tr>
    </table>
  </div>
</div>
