<div class='school-news'>
  <div class='l-container'>
    <div class='clearfix'>
      <ul class='content-menu'>
        <li class='active'><a href='#'>2018</a></li>
        <li><a href='#'>2017</a></li>
        <li><a href='#'>2016</a></li>
        <li><a href='#'>2015</a></li>
      </ul>
      <div class='content-list'>
        <table class='content-table'>
          <tr>
            <td>
              <span class='badge america'>美國</span>
              <span>給不敢開口說英文的你</span>
            </td>
          </tr>
          <tr>
            <td>
              <span class='badge canada'>加拿大</span>
              <span>低價遊學一個月只要兩萬六！</span>
            </td>
          </tr>
        </table>
        <nav aria-label='Page navigation'>
          <ul class='pagination pagination-sm'>
            <li class='disabled'>
              <a href='#' aria-label='Previous'>
                <span aria-hidden='true'>&laquo;</span>
              </a>
            </li>
            <li class='active'><a href='#'>1</a></li>
            <li><a href='#'>2</a></li>
            <li><a href='#'>3</a></li>
            <li><a href='#'>4</a></li>
            <li><a href='#'>5</a></li>
            <li>
              <a href='#' aria-label='Next'>
                <span aria-hidden='true'>&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
