<div class="col-md-3 col-sm-4 col-xs-12">
  <div class='school-card'>
    <div class='school-card-img'>
      <img src='http://via.placeholder.com/250x200'>
    </div>
    <div class='school-card-header'>
      <span class='en'>California State University Monterey Bay</span>
      <span class='ch'>加州州立大學 蒙特利灣分校</span>
    </div>
    <div class='school-card-body'>
      <span class='text'>
        <%= locals[:text] %>
      </span>
    </div>
    <div class="school-card-tag">
      學費減免
    </div>
  </div>
</div>
