/* line 5, /Users/ruoshin/repos/test/source/stylesheets/about_oh_study.scss */
.about-oh-study .banner {
  background-image: url("/images/about/img_about.png"); }
/* line 9, /Users/ruoshin/repos/test/source/stylesheets/about_oh_study.scss */
.about-oh-study .anchor-wrapper:before {
  content: "";
  display: block;
  height: 80px;
  /* fixed header height*/
  margin: -80px 0 0;
  /* negative fixed header height */ }
/* line 16, /Users/ruoshin/repos/test/source/stylesheets/about_oh_study.scss */
.about-oh-study .about-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  padding: 40px 0; }
/* line 21, /Users/ruoshin/repos/test/source/stylesheets/about_oh_study.scss */
.about-oh-study .content {
  margin-bottom: 20px; }
/* line 24, /Users/ruoshin/repos/test/source/stylesheets/about_oh_study.scss */
.about-oh-study .youtube-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }
  /* line 29, /Users/ruoshin/repos/test/source/stylesheets/about_oh_study.scss */
  .about-oh-study .youtube-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
/* line 37, /Users/ruoshin/repos/test/source/stylesheets/about_oh_study.scss */
.about-oh-study .service-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px; }
  /* line 40, /Users/ruoshin/repos/test/source/stylesheets/about_oh_study.scss */
  .about-oh-study .service-title > * {
    display: inline-block;
    vertical-align: middle; }
  /* line 44, /Users/ruoshin/repos/test/source/stylesheets/about_oh_study.scss */
  .about-oh-study .service-title:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background: url("/images/about/icn_point.png");
    background-size: cover;
    margin-right: 10px; }
/* line 55, /Users/ruoshin/repos/test/source/stylesheets/about_oh_study.scss */
.about-oh-study .about-our-service {
  margin-top: 40px;
  margin-bottom: 40px; }
  /* line 58, /Users/ruoshin/repos/test/source/stylesheets/about_oh_study.scss */
  .about-oh-study .about-our-service .content {
    margin-left: 34px; }
    /* line 60, /Users/ruoshin/repos/test/source/stylesheets/about_oh_study.scss */
    .about-oh-study .about-our-service .content li {
      margin-bottom: 5px; }
      /* line 62, /Users/ruoshin/repos/test/source/stylesheets/about_oh_study.scss */
      .about-oh-study .about-our-service .content li:before {
        content: '';
        display: block;
        float: left;
        width: 8px;
        height: 8px;
        background: #949CBF;
        border-radius: 8px;
        margin-top: 6px;
        margin-right: 10px; }
      /* line 73, /Users/ruoshin/repos/test/source/stylesheets/about_oh_study.scss */
      .about-oh-study .about-our-service .content li span {
        display: block;
        overflow: hidden; }
      /* line 77, /Users/ruoshin/repos/test/source/stylesheets/about_oh_study.scss */
      .about-oh-study .about-our-service .content li:after {
        content: '';
        display: block;
        clear: both; }
    /* line 83, /Users/ruoshin/repos/test/source/stylesheets/about_oh_study.scss */
    .about-oh-study .about-our-service .content img {
      width: 100%;
      max-width: 540px;
      margin: 20px 0 60px; }
/* line 90, /Users/ruoshin/repos/test/source/stylesheets/about_oh_study.scss */
.about-oh-study .about-advantage {
  background: #f2f5f7;
  padding: 40px 0; }
  /* line 93, /Users/ruoshin/repos/test/source/stylesheets/about_oh_study.scss */
  .about-oh-study .about-advantage li {
    margin-bottom: 15px; }
    /* line 95, /Users/ruoshin/repos/test/source/stylesheets/about_oh_study.scss */
    .about-oh-study .about-advantage li span {
      line-height: 24px;
      overflow: hidden;
      display: block; }
    /* line 100, /Users/ruoshin/repos/test/source/stylesheets/about_oh_study.scss */
    .about-oh-study .about-advantage li:before {
      content: '';
      display: block;
      float: left;
      width: 24px;
      height: 24px;
      background-size: cover;
      margin-right: 10px; }
    /* line 109, /Users/ruoshin/repos/test/source/stylesheets/about_oh_study.scss */
    .about-oh-study .about-advantage li:after {
      content: '';
      display: block;
      clear: both; }
    /* line 114, /Users/ruoshin/repos/test/source/stylesheets/about_oh_study.scss */
    .about-oh-study .about-advantage li:last-child {
      margin-bottom: 0; }
  /* line 120, /Users/ruoshin/repos/test/source/stylesheets/about_oh_study.scss */
  .about-oh-study .about-advantage .why-choose-us li:before {
    background-image: url("/images/about/icn_star.png"); }
  /* line 127, /Users/ruoshin/repos/test/source/stylesheets/about_oh_study.scss */
  .about-oh-study .about-advantage .consumer-guarantee li:before {
    background-image: url("/images/about/icn_promise.png"); }
/* line 133, /Users/ruoshin/repos/test/source/stylesheets/about_oh_study.scss */
.about-oh-study .about-team-members {
  padding: 40px 0; }
  /* line 136, /Users/ruoshin/repos/test/source/stylesheets/about_oh_study.scss */
  .about-oh-study .about-team-members .member-list .member-card {
    display: inline-block;
    vertical-align: top;
    width: 33%; }
