.consultant{
  .consultant-title{
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0;
  }
  .web-form{
    padding-bottom: 20px;
  }
  .form-label{
    font-weight: normal;
    display: block;
  }
  .form-group{
    margin-bottom: 20px;
  }
  .message{
    margin-top: 24px;
  }
  .checkbox-inline, .radio-inline{
    margin-top: 10px;
  }
}
