/* line 5, /Users/ruoshin/repos/test/source/stylesheets/consultant.scss */
.consultant .banner {
  background-image: url("/images/consultant/img_consultant.png"); }
/* line 8, /Users/ruoshin/repos/test/source/stylesheets/consultant.scss */
.consultant hr {
  margin-bottom: 0; }
/* line 11, /Users/ruoshin/repos/test/source/stylesheets/consultant.scss */
.consultant .consultant-title {
  font-size: 18px;
  font-weight: bold;
  padding: 40px 0 10px; }
/* line 15, /Users/ruoshin/repos/test/source/stylesheets/consultant.scss */
.consultant .line {
  margin-top: 10px; }
  /* line 17, /Users/ruoshin/repos/test/source/stylesheets/consultant.scss */
  .consultant .line img {
    width: 30px;
    margin-right: 10px; }
/* line 22, /Users/ruoshin/repos/test/source/stylesheets/consultant.scss */
.consultant .web-form {
  padding-bottom: 20px; }
  /* line 24, /Users/ruoshin/repos/test/source/stylesheets/consultant.scss */
  .consultant .web-form .privacy-button {
    color: #0898ff; }
  /* line 27, /Users/ruoshin/repos/test/source/stylesheets/consultant.scss */
  .consultant .web-form .privacy-policy {
    margin-bottom: 20px; }
/* line 31, /Users/ruoshin/repos/test/source/stylesheets/consultant.scss */
.consultant .form-label {
  font-weight: normal;
  display: block; }
  /* line 34, /Users/ruoshin/repos/test/source/stylesheets/consultant.scss */
  .consultant .form-label .required {
    color: #de1e37; }
/* line 38, /Users/ruoshin/repos/test/source/stylesheets/consultant.scss */
.consultant .form-group {
  margin-bottom: 20px; }
/* line 41, /Users/ruoshin/repos/test/source/stylesheets/consultant.scss */
.consultant .message {
  margin-top: 24px; }
/* line 44, /Users/ruoshin/repos/test/source/stylesheets/consultant.scss */
.consultant .checkbox-inline, .consultant .radio-inline {
  margin-top: 10px; }
/* line 47, /Users/ruoshin/repos/test/source/stylesheets/consultant.scss */
.consultant .consultant-success-message {
  text-align: center;
  margin: 60px auto; }
/* line 51, /Users/ruoshin/repos/test/source/stylesheets/consultant.scss */
.consultant .consultant-success-image {
  margin: 0 auto 20px;
  display: block;
  width: 300px; }
/* line 56, /Users/ruoshin/repos/test/source/stylesheets/consultant.scss */
.consultant .consultant-success-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px; }
/* line 60, /Users/ruoshin/repos/test/source/stylesheets/consultant.scss */
.consultant .consultant-success-content {
  margin-bottom: 40px; }
