/* line 4, /Users/ruoshin/repos/test/source/stylesheets/osstudent.scss */
.osstudent .banner {
  background-image: url("/images/share/img_share.png"); }
/* line 7, /Users/ruoshin/repos/test/source/stylesheets/osstudent.scss */
.osstudent .experience-sharing {
  padding: 80px 0; }
  /* line 9, /Users/ruoshin/repos/test/source/stylesheets/osstudent.scss */
  .osstudent .experience-sharing .sharing-box {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
    padding: 10px; }
    /* line 15, /Users/ruoshin/repos/test/source/stylesheets/osstudent.scss */
    .osstudent .experience-sharing .sharing-box .content {
      text-align: left; }
