@import "shared/variables";

.badge{
  padding: 6px 8px;
  border-radius: 3px;
  font-weight: normal;
  margin-right: 6px;
  background: $primary-color;
  &.england{
    background: $color-england;
  }
  &.europe{
    background: $color-europe;
  }
  &.asia{
    background: $color-asia;
  }
  &.canada{
    background: $color-canada;
  }
  &.new-zealand{
    background: $color-new-zealand;
  }
  &.america{
    background: $color-america;
  }
  &.australia{
    background: $color-australia;
  }
  &.taipei{
    background: $blue;
  }
  &.hsinchu{
    background: $red;
  }
  &.taichung{
    background: $yellow;
  }
  &.kaohsuing{
    background: $link-color;
  }
}
