/* line 3, /Users/ruoshin/repos/test/source/stylesheets/shared/content.scss */
.content-title {
  font-size: 24px;
  margin-bottom: 20px; }
  /* line 6, /Users/ruoshin/repos/test/source/stylesheets/shared/content.scss */
  .content-title:before {
    content: '';
    width: 6px;
    height: 18px;
    background: #de1e37;
    display: inline-block;
    margin-right: 5px; }

/* line 16, /Users/ruoshin/repos/test/source/stylesheets/shared/content.scss */
.content-sub-title {
  font-size: 18px;
  font-weight: bold; }

/* line 21, /Users/ruoshin/repos/test/source/stylesheets/shared/content.scss */
.content-table {
  width: 100%; }
  /* line 23, /Users/ruoshin/repos/test/source/stylesheets/shared/content.scss */
  .content-table .content-table-title {
    font-weight: bold;
    width: 30%; }
    /* line 26, /Users/ruoshin/repos/test/source/stylesheets/shared/content.scss */
    .content-table .content-table-title.t-lg {
      width: 50%; }
  /* line 30, /Users/ruoshin/repos/test/source/stylesheets/shared/content.scss */
  .content-table .datetime {
    width: 120px; }
  /* line 33, /Users/ruoshin/repos/test/source/stylesheets/shared/content.scss */
  .content-table .modal-toggler {
    cursor: pointer; }
  /* line 36, /Users/ruoshin/repos/test/source/stylesheets/shared/content.scss */
  .content-table tr {
    border-bottom: 1px solid #c5c6c8; }
    /* line 38, /Users/ruoshin/repos/test/source/stylesheets/shared/content.scss */
    .content-table tr:last-child {
      border-bottom: none; }
  /* line 42, /Users/ruoshin/repos/test/source/stylesheets/shared/content.scss */
  .content-table td {
    vertical-align: top;
    padding: 20px 0; }

/* line 48, /Users/ruoshin/repos/test/source/stylesheets/shared/content.scss */
.content-menu {
  float: left;
  margin-right: 100px; }
  /* line 51, /Users/ruoshin/repos/test/source/stylesheets/shared/content.scss */
  .content-menu > li {
    font-size: 16px;
    padding-bottom: 10px; }
    /* line 54, /Users/ruoshin/repos/test/source/stylesheets/shared/content.scss */
    .content-menu > li.active {
      font-size: 24px;
      font-weight: bold; }
      /* line 57, /Users/ruoshin/repos/test/source/stylesheets/shared/content.scss */
      .content-menu > li.active:before {
        content: '';
        width: 6px;
        height: 18px;
        background: #de1e37;
        display: inline-block;
        margin-right: 5px; }

/* line 69, /Users/ruoshin/repos/test/source/stylesheets/shared/content.scss */
.content-list {
  overflow: hidden; }
