@import "shared/variables";

.l-footer{
  position: relative;
  background: linear-gradient(70deg, #005cd1, $blue);
  color: #fff;
  font-size: 12px;
  .information-wrapper{
    position: relative;
    height: 140px;
  }
  .privacy{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
    width: 30%;
    z-index: 1;
    .privacy-button{
      cursor: pointer;
      &:after{
        content: '・';
      }
    }
  }
  .social-medias{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
    .social-media{
      display: inline-block;
      vertical-align: middle;
      border: 2px solid #fff;
      border-radius: 100%;
      margin-right: 10px;
      img{
        width: 50px;
        height: 50px;
        display: block;
        margin: 0 auto;
      }
    }
  }
  .copyright{
    text-align: center;
    line-height: 1.7;
  }
  .back-to-top{
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    > *{
      display: inline-block;
      vertical-align: middle;
    }
    img{
      width: 40px;
      height: 40px;
    }
  }
  #privacy-modal{
    color: $primary-color;
    font-size: 14px;
    p{
      margin-bottom: 15px;
    }
  }
}
