/* line 1, /Users/ruoshin/repos/test/source/stylesheets/shared/global_links.scss */
.global-links {
  position: fixed;
  right: 5px;
  bottom: 20px;
  z-index: 4; }
  /* line 7, /Users/ruoshin/repos/test/source/stylesheets/shared/global_links.scss */
  .global-links ul > li {
    cursor: pointer;
    width: 60px;
    height: 60px; }
    /* line 11, /Users/ruoshin/repos/test/source/stylesheets/shared/global_links.scss */
    .global-links ul > li a {
      display: block;
      width: 100%;
      height: 100%; }
    /* line 16, /Users/ruoshin/repos/test/source/stylesheets/shared/global_links.scss */
    .global-links ul > li.discount {
      background: url("/images/landing/btn_discount_normal.png") center no-repeat;
      background-size: cover; }
      /* line 19, /Users/ruoshin/repos/test/source/stylesheets/shared/global_links.scss */
      .global-links ul > li.discount:hover {
        background-image: url("/images/landing/btn_discount_hover.png"); }
    /* line 23, /Users/ruoshin/repos/test/source/stylesheets/shared/global_links.scss */
    .global-links ul > li.facebook {
      background: url("/images/landing/btn_fb_normal.png") center no-repeat;
      background-size: cover; }
      /* line 26, /Users/ruoshin/repos/test/source/stylesheets/shared/global_links.scss */
      .global-links ul > li.facebook:hover {
        background-image: url("/images/landing/btn_fb_hover.png"); }
    /* line 30, /Users/ruoshin/repos/test/source/stylesheets/shared/global_links.scss */
    .global-links ul > li.line {
      background: url("/images/landing/btn_line_normal.png") center no-repeat;
      background-size: cover; }
      /* line 33, /Users/ruoshin/repos/test/source/stylesheets/shared/global_links.scss */
      .global-links ul > li.line:hover {
        background-image: url("/images/landing/btn_line_hover.png"); }
    /* line 37, /Users/ruoshin/repos/test/source/stylesheets/shared/global_links.scss */
    .global-links ul > li.instagram {
      background: url("/images/landing/btn_ig_normal.png") center no-repeat;
      background-size: cover; }
      /* line 40, /Users/ruoshin/repos/test/source/stylesheets/shared/global_links.scss */
      .global-links ul > li.instagram:hover {
        background-image: url("/images/landing/btn_ig_hover.png"); }
    /* line 44, /Users/ruoshin/repos/test/source/stylesheets/shared/global_links.scss */
    .global-links ul > li.back-to-top {
      background: url("/images/landing/btn_back_normal.png") center no-repeat;
      background-size: cover;
      opacity: 0;
      transition: opacity .2s; }
      /* line 49, /Users/ruoshin/repos/test/source/stylesheets/shared/global_links.scss */
      .global-links ul > li.back-to-top:hover {
        opacity: 0.5; }
