/* line 5, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
.l-header {
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); }
  /* line 8, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
  .l-header .logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 140px; }
    /* line 14, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
    .l-header .logo img {
      display: block;
      width: 100%; }
  /* line 19, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
  .l-header .reservation {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%; }
    /* line 24, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
    .l-header .reservation:after {
      content: '';
      height: 100%;
      display: inline-block;
      vertical-align: middle; }
    /* line 30, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
    .l-header .reservation .btn-primary {
      display: inline-block;
      vertical-align: middle; }
  /* line 35, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
  .l-header .menu {
    margin-left: 140px; }
    /* line 37, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
    .l-header .menu > li {
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin-left: 40px;
      padding: 27px 0; }
      /* line 43, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu > li .menu-label {
        cursor: pointer;
        font-size: 18px;
        padding-bottom: 5px; }
      /* line 49, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu > li:hover .menu-label {
        border-bottom: 2px solid #de1e37; }
      /* line 52, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu > li:hover .sub-menu {
        display: block; }
      /* line 57, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu > li.active .menu-label {
        color: #de1e37;
        border-bottom: 2px solid #de1e37; }
    /* line 63, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
    .l-header .menu .sub-menu {
      position: absolute;
      top: 0;
      margin-top: calc(80px - 10px);
      display: none;
      font-size: 13px;
      background: #fff;
      padding: 20px;
      border-radius: 4px;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
      z-index: 2; }
      /* line 74, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu .sub-menu .sub-menu-label {
        float: left;
        font-weight: bold;
        line-height: 1.2; }
      /* line 79, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu .sub-menu .sub-menu-list {
        float: right;
        padding: 0 20px; }
        /* line 82, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
        .l-header .menu .sub-menu .sub-menu-list a {
          margin-bottom: 8px; }
      /* line 86, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu .sub-menu .sub-menu-col {
        display: inline-block;
        vertical-align: top; }
        /* line 89, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
        .l-header .menu .sub-menu .sub-menu-col + .sub-menu-col {
          margin-left: 20px; }
      /* line 93, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu .sub-menu > li {
        display: inline-block;
        vertical-align: top;
        border-right: 1px solid #ccc; }
        /* line 97, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
        .l-header .menu .sub-menu > li:last-child {
          border-right: none; }
        /* line 101, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
        .l-header .menu .sub-menu > li + li .sub-menu-label {
          margin-left: 20px; }
      /* line 106, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu .sub-menu a {
        display: block;
        text-decoration: none;
        margin-bottom: 15px;
        line-height: 1.2; }
        /* line 111, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
        .l-header .menu .sub-menu a:hover {
          opacity: 0.5; }
        /* line 114, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
        .l-header .menu .sub-menu a:last-child {
          margin-bottom: 0; }
      /* line 118, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu .sub-menu .sub-sub-menu {
        position: relative;
        padding: 10px 0; }
        /* line 121, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
        .l-header .menu .sub-menu .sub-sub-menu .search-school-sub-menu {
          margin-top: -10px;
          margin-left: 80px;
          display: none; }
          /* line 125, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
          .l-header .menu .sub-menu .sub-sub-menu .search-school-sub-menu:after {
            content: '';
            display: block;
            background: red;
            width: 100px; }
        /* line 132, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
        .l-header .menu .sub-menu .sub-sub-menu > .sub-menu-label {
          float: none;
          text-align: center; }
          /* line 135, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
          .l-header .menu .sub-menu .sub-sub-menu > .sub-menu-label > * {
            display: inline-block;
            vertical-align: middle; }
          /* line 139, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
          .l-header .menu .sub-menu .sub-sub-menu > .sub-menu-label.is-hover, .l-header .menu .sub-menu .sub-sub-menu > .sub-menu-label:hover {
            cursor: pointer;
            color: #de1e37;
            opacity: 1; }
            /* line 143, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
            .l-header .menu .sub-menu .sub-sub-menu > .sub-menu-label.is-hover:after, .l-header .menu .sub-menu .sub-sub-menu > .sub-menu-label:hover:after {
              background-image: url("/images/landing/btn_dropdown_arrow_hover.png"); }
          /* line 147, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
          .l-header .menu .sub-menu .sub-sub-menu > .sub-menu-label:after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 12px;
            height: 12px;
            margin-left: 8px;
            background: url("/images/landing/btn_dropdown_arrow_normal.png") no-repeat center;
            background-size: cover; }
        /* line 159, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
        .l-header .menu .sub-menu .sub-sub-menu:hover .search-school-sub-menu {
          display: block; }
        /* line 163, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
        .l-header .menu .sub-menu .sub-sub-menu:first-child {
          margin-top: 0; }
        /* line 167, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
        .l-header .menu .sub-menu .sub-sub-menu.open .search-school-sub-menu {
          display: block !important; }
      /* line 172, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu .sub-menu.search-school {
        width: 80px;
        padding: 10px 0; }
      /* line 176, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu .sub-menu.search-school-sub-menu {
        width: 525px; }
        /* line 178, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
        .l-header .menu .sub-menu.search-school-sub-menu > li {
          min-height: 176px; }
        /* line 181, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
        .l-header .menu .sub-menu.search-school-sub-menu.esl {
          width: 490px; }
      /* line 185, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu .sub-menu.student-sharing {
        width: 131px; }
      /* line 188, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu .sub-menu.news {
        width: 105px; }
      /* line 191, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu .sub-menu.events {
        width: 156px; }
      /* line 194, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu .sub-menu.about {
        width: 168px; }
