/* line 5, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
.l-header {
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); }
  /* line 8, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
  .l-header .logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 140px; }
    /* line 14, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
    .l-header .logo img {
      display: block;
      width: 100%; }
  /* line 19, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
  .l-header .reservation {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%; }
    /* line 24, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
    .l-header .reservation:after {
      content: '';
      height: 100%;
      display: inline-block;
      vertical-align: middle; }
    /* line 30, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
    .l-header .reservation .btn-primary {
      display: inline-block;
      vertical-align: middle; }
  /* line 35, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
  .l-header .menu {
    margin-left: 140px; }
    /* line 37, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
    .l-header .menu > li {
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin-left: 40px;
      padding: 27px 0; }
      /* line 43, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu > li .menu-label {
        cursor: pointer;
        font-size: 18px;
        padding-bottom: 5px; }
      /* line 49, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu > li:hover .menu-label {
        border-bottom: 2px solid #de1e37; }
      /* line 52, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu > li:hover .sub-menu {
        display: block; }
      /* line 57, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu > li.active .menu-label {
        color: #de1e37;
        border-bottom: 2px solid #de1e37; }
    /* line 63, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
    .l-header .menu .sub-menu {
      position: absolute;
      top: 0;
      margin-top: calc(80px - 10px);
      display: none;
      font-size: 13px;
      background: #fff;
      padding: 20px;
      border-radius: 4px;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
      z-index: 2; }
      /* line 74, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu .sub-menu .sub-menu-label {
        font-weight: bold;
        overflow: hidden;
        line-height: 1.2; }
      /* line 79, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu .sub-menu .sub-menu-list {
        float: right;
        padding: 0 20px; }
        /* line 82, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
        .l-header .menu .sub-menu .sub-menu-list a {
          margin-bottom: 8px; }
      /* line 86, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu .sub-menu > li {
        display: inline-block;
        vertical-align: top;
        border-right: 1px solid #ccc; }
        /* line 90, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
        .l-header .menu .sub-menu > li:last-child {
          border-right: none; }
        /* line 94, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
        .l-header .menu .sub-menu > li + li .sub-menu-label {
          margin-left: 20px; }
      /* line 99, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu .sub-menu a {
        display: block;
        text-decoration: none;
        margin-bottom: 15px;
        line-height: 1.2; }
        /* line 104, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
        .l-header .menu .sub-menu a:hover {
          opacity: 0.5; }
        /* line 107, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
        .l-header .menu .sub-menu a:last-child {
          margin-bottom: 0; }
      /* line 111, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu .sub-menu.search-school {
        width: 525px; }
        /* line 113, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
        .l-header .menu .sub-menu.search-school > li {
          min-height: 176px; }
      /* line 117, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu .sub-menu.student-sharing {
        width: 131px; }
      /* line 120, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu .sub-menu.news {
        width: 105px; }
      /* line 123, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu .sub-menu.events {
        width: 156px; }
      /* line 126, /Users/ruoshin/repos/test/source/stylesheets/shared/header.scss */
      .l-header .menu .sub-menu.about {
        width: 168px; }
