@import "shared/variables";

.l-header{
  position: fixed;
  width: 100%;
  height: $headerHeight;
  z-index: 5;
}
.l-content{
  padding-top: $headerHeight;
}
.l-container{
  position: relative;
  width: 1024px;
  margin: 0 auto;
}
.l-container-sm{
  position: relative;
  width: 800px;
  margin: 0 auto;
}
.l-footer{
  height: 265px;
}
