// layout
$headerHeight: 80px;

// colors
$main-color: #12007c;
$primary-color: #232941;
$link-color: #0898ff;
$red: #de1e37;
$yellow: #ffb90c;
$blue: #0629cc;

$color-gray-dark: #6f7075;
$color-gray-light: #c5c6c8;
$color-white: #f2f5f7;

$color-england: #eda409;
$color-europe: #ed6109;
$color-asia: #01a1a3;
$color-canada: #de1e37;
$color-new-zealand: #8dc22c;
$color-america: #154188;
$color-australia: #d70050;
$color-popular: #9013FE;
