.courses{
  .course-box{
    .course-img{
      img{
        width: 100%;
      }
    }
    .course-title{
      font-size: 18px;
      font-weight: bold;
      margin: 20px 0 10px;
      line-height: 1.2;
    }
    .course-description{
      margin-bottom: 15px;
    }
  }
}
