/* line 4, /Users/ruoshin/repos/test/source/stylesheets/index/courses.scss */
.courses .course-box .course-img img {
  width: 100%; }
/* line 8, /Users/ruoshin/repos/test/source/stylesheets/index/courses.scss */
.courses .course-box .course-title {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0 10px;
  line-height: 1.2; }
/* line 14, /Users/ruoshin/repos/test/source/stylesheets/index/courses.scss */
.courses .course-box .course-description {
  margin-bottom: 15px; }
/* line 18, /Users/ruoshin/repos/test/source/stylesheets/index/courses.scss */
.courses .course-box .course-articles li {
  margin-bottom: 5px; }
  /* line 20, /Users/ruoshin/repos/test/source/stylesheets/index/courses.scss */
  .courses .course-box .course-articles li a {
    display: block;
    overflow: hidden; }
  /* line 24, /Users/ruoshin/repos/test/source/stylesheets/index/courses.scss */
  .courses .course-box .course-articles li:before {
    content: '';
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    background: url("/images/school/icn_star.png") no-repeat center;
    background-size: cover;
    margin-top: 1px;
    margin-right: 5px; }
  /* line 35, /Users/ruoshin/repos/test/source/stylesheets/index/courses.scss */
  .courses .course-box .course-articles li:after {
    content: '';
    clear: both;
    display: block; }
