@import "shared/variables";

.discounts{
  .discount-box-wrapper{
    display: block;
  }
  .discount-box{
    .discount-img{
      position: relative;
      img{
        width: 100%;
      }
      .badge{
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0;
        padding-top: 9px;
        padding-bottom: 9px;
        font-weight: normal;
      }
    }
    .discount-title{
      font-size: 18px;
      font-weight: bold;
      line-height: 1.2;
      margin: 20px 0 10px;
      > span{
        display: block;
      }
      .en{
        margin-bottom: 5px;
      }
    }
    .discount-body{
      margin-top: 15px;
    }
    &.england{
      .badge{
        background: $color-england;
      }
    }
    &.europe{
      .badge{
        background: $color-europe;
      }
    }
    &.asia{
      .badge{
        background: $color-asia;
      }
    }
    &.canada{
      .badge{
        background: $color-canada;
      }
    }
    &.new-zealand{
      .badge{
        background: $color-new-zealand;
      }
    }
    &.america{
      .badge{
        background: $color-america;
      }
    }
    &.australia{
      .badge{
        background: $color-australia;
      }
    }
  }
}
