/* line 3, /Users/ruoshin/repos/test/source/stylesheets/index/global_search.scss */
#global-search {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: rgba(35, 41, 65, 0.9); }
  /* line 12, /Users/ruoshin/repos/test/source/stylesheets/index/global_search.scss */
  #global-search .search-field {
    position: relative;
    border-bottom: 1px solid #979797;
    margin-top: 100px; }
    /* line 16, /Users/ruoshin/repos/test/source/stylesheets/index/global_search.scss */
    #global-search .search-field > * {
      display: inline-block;
      vertical-align: middle; }
  /* line 21, /Users/ruoshin/repos/test/source/stylesheets/index/global_search.scss */
  #global-search .search-field-input {
    width: calc( 100% - 200px );
    font-size: 30px;
    background: none;
    border: none;
    padding: 20px 10px;
    color: #fff;
    outline: none; }
  /* line 30, /Users/ruoshin/repos/test/source/stylesheets/index/global_search.scss */
  #global-search .search-field-button {
    position: absolute;
    top: 15px;
    right: 0;
    color: #fff;
    border-color: #fff; }
  /* line 37, /Users/ruoshin/repos/test/source/stylesheets/index/global_search.scss */
  #global-search .popular-keyword {
    margin-top: 50px; }
    /* line 39, /Users/ruoshin/repos/test/source/stylesheets/index/global_search.scss */
    #global-search .popular-keyword .popular-keyword-header {
      color: rgba(255, 255, 255, 0.3);
      font-weight: bold; }
  /* line 44, /Users/ruoshin/repos/test/source/stylesheets/index/global_search.scss */
  #global-search .l-container {
    overflow: hidden; }
  /* line 47, /Users/ruoshin/repos/test/source/stylesheets/index/global_search.scss */
  #global-search .btn-close {
    position: absolute;
    top: 30px;
    right: 0;
    background: none; }
