/* line 5, /Users/ruoshin/repos/test/source/stylesheets/index/index_news.scss */
.index-news .news-block .news-block-header {
  font-size: 18px;
  color: #fff;
  padding: 14px 20px;
  border-radius: 3px;
  box-shadow: 0 6px 12px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px; }
  /* line 12, /Users/ruoshin/repos/test/source/stylesheets/index/index_news.scss */
  .index-news .news-block .news-block-header img, .index-news .news-block .news-block-header span {
    display: inline-block;
    vertical-align: middle; }
  /* line 16, /Users/ruoshin/repos/test/source/stylesheets/index/index_news.scss */
  .index-news .news-block .news-block-header img {
    margin-right: 5px; }
/* line 20, /Users/ruoshin/repos/test/source/stylesheets/index/index_news.scss */
.index-news .news-block .news-block-body {
  padding: 20px 0; }
  /* line 23, /Users/ruoshin/repos/test/source/stylesheets/index/index_news.scss */
  .index-news .news-block .news-block-body .news-block-list li {
    margin-bottom: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
    /* line 28, /Users/ruoshin/repos/test/source/stylesheets/index/index_news.scss */
    .index-news .news-block .news-block-body .news-block-list li:last-child {
      margin-bottom: 0; }
  /* line 33, /Users/ruoshin/repos/test/source/stylesheets/index/index_news.scss */
  .index-news .news-block .news-block-body .date {
    margin-right: 15px; }
/* line 37, /Users/ruoshin/repos/test/source/stylesheets/index/index_news.scss */
.index-news .news-block .news-block-footer {
  border-top: 1px solid #c5c6c8; }
  /* line 39, /Users/ruoshin/repos/test/source/stylesheets/index/index_news.scss */
  .index-news .news-block .news-block-footer a {
    color: #0a97ff;
    margin-top: 8px;
    display: block; }
/* line 46, /Users/ruoshin/repos/test/source/stylesheets/index/index_news.scss */
.index-news .news-block.latest .news-block-header {
  background: #062acd; }
/* line 51, /Users/ruoshin/repos/test/source/stylesheets/index/index_news.scss */
.index-news .news-block.lecture-course .news-block-header {
  background: #df2137; }
