/* line 3, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
.index-navigate-bar {
  background: #12007c;
  height: 60px; }
  /* line 6, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
  .index-navigate-bar .index-navigate-bar-menu {
    text-align: justify;
    padding: 20px 40px 0 40px;
    font-size: 18px;
    line-height: 1; }
    /* line 11, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
    .index-navigate-bar .index-navigate-bar-menu li {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      color: #fff; }
      /* line 16, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
      .index-navigate-bar .index-navigate-bar-menu li > a {
        line-height: 16px;
        color: #fff; }
        /* line 19, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
        .index-navigate-bar .index-navigate-bar-menu li > a:hover {
          opacity: 1; }
    /* line 24, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
    .index-navigate-bar .index-navigate-bar-menu:after {
      content: '';
      display: inline-block;
      width: 100%; }
  /* line 30, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
  .index-navigate-bar.is-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    background: rgba(18, 0, 124, 0.95); }
    /* line 37, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
    .index-navigate-bar.is-sticky li > a {
      opacity: 0.7; }
    /* line 41, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
    .index-navigate-bar.is-sticky li.active > a {
      opacity: 1;
      font-weight: bold; }
