/* line 3, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
.index-navigate-bar {
  background: #12007c;
  height: 60px;
  font-size: 18px; }
  /* line 7, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
  .index-navigate-bar .index-navigate-bar-menu {
    text-align: justify;
    padding: 20px 40px 0 40px;
    line-height: 1; }
    /* line 11, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
    .index-navigate-bar .index-navigate-bar-menu li {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      color: #fff; }
      /* line 16, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
      .index-navigate-bar .index-navigate-bar-menu li > a {
        line-height: 16px;
        color: #fff; }
        /* line 19, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
        .index-navigate-bar .index-navigate-bar-menu li > a:hover {
          opacity: 1; }
    /* line 24, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
    .index-navigate-bar .index-navigate-bar-menu:after {
      content: '';
      display: inline-block;
      width: 100%; }
    /* line 29, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
    .index-navigate-bar .index-navigate-bar-menu.open {
      display: block;
      z-index: 10; }
  /* line 34, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
  .index-navigate-bar .index-navigate-bar-selector {
    display: none;
    position: absolute; }
    /* line 37, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
    .index-navigate-bar .index-navigate-bar-selector li {
      display: none; }
      /* line 39, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
      .index-navigate-bar .index-navigate-bar-selector li a {
        line-height: 16px;
        color: #fff;
        display: inline-block;
        vertical-align: middle;
        padding: 22px 0;
        font-weight: bold; }
        /* line 46, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
        .index-navigate-bar .index-navigate-bar-selector li a, .index-navigate-bar .index-navigate-bar-selector li a:hover {
          opacity: 1; }
      /* line 50, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
      .index-navigate-bar .index-navigate-bar-selector li.active {
        display: block; }
      /* line 53, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
      .index-navigate-bar .index-navigate-bar-selector li:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        background: url("/images/school/btn_dropdown_normal.png") center no-repeat;
        background-size: 100%;
        width: 12px;
        height: 12px;
        margin-left: 8px; }
  /* line 65, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
  .index-navigate-bar .search {
    cursor: pointer; }
    /* line 67, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
    .index-navigate-bar .search img {
      width: 20px;
      height: 20px; }
    /* line 71, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
    .index-navigate-bar .search > * {
      display: inline-block;
      vertical-align: middle; }
    /* line 75, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
    .index-navigate-bar .search.is-mobile {
      display: none;
      position: absolute;
      top: 16px;
      right: 40px; }
  /* line 82, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
  .index-navigate-bar.is-sticky {
    background: rgba(18, 0, 124, 0.95); }
    /* line 85, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
    .index-navigate-bar.is-sticky li > a {
      opacity: 0.7; }
    /* line 89, /Users/ruoshin/repos/test/source/stylesheets/index/index_navigate_bar.scss */
    .index-navigate-bar.is-sticky li.active > a {
      opacity: 1;
      font-weight: bold; }
