/* line 5, /Users/ruoshin/repos/test/source/stylesheets/index/index_news.scss */
.index-news .news-block .news-block-header {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  box-shadow: 0 6px 12px -1px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px; }
  /* line 13, /Users/ruoshin/repos/test/source/stylesheets/index/index_news.scss */
  .index-news .news-block .news-block-header img, .index-news .news-block .news-block-header span {
    display: inline-block;
    vertical-align: middle; }
  /* line 17, /Users/ruoshin/repos/test/source/stylesheets/index/index_news.scss */
  .index-news .news-block .news-block-header img {
    width: 40px;
    margin-right: 6px; }
/* line 22, /Users/ruoshin/repos/test/source/stylesheets/index/index_news.scss */
.index-news .news-block .news-block-body {
  padding: 20px 0 30px;
  margin: 0 20px; }
  /* line 26, /Users/ruoshin/repos/test/source/stylesheets/index/index_news.scss */
  .index-news .news-block .news-block-body .news-block-list li {
    margin-bottom: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
    /* line 31, /Users/ruoshin/repos/test/source/stylesheets/index/index_news.scss */
    .index-news .news-block .news-block-body .news-block-list li .title {
      cursor: pointer; }
      /* line 33, /Users/ruoshin/repos/test/source/stylesheets/index/index_news.scss */
      .index-news .news-block .news-block-body .news-block-list li .title:hover {
        opacity: 0.5; }
    /* line 37, /Users/ruoshin/repos/test/source/stylesheets/index/index_news.scss */
    .index-news .news-block .news-block-body .news-block-list li:last-child {
      margin-bottom: 0; }
  /* line 42, /Users/ruoshin/repos/test/source/stylesheets/index/index_news.scss */
  .index-news .news-block .news-block-body .date {
    color: #6f7075;
    margin-right: 15px; }
/* line 47, /Users/ruoshin/repos/test/source/stylesheets/index/index_news.scss */
.index-news .news-block .news-block-footer {
  margin: 0 20px;
  border-top: 1px solid #c5c6c8; }
  /* line 50, /Users/ruoshin/repos/test/source/stylesheets/index/index_news.scss */
  .index-news .news-block .news-block-footer a {
    color: #0898ff;
    margin-top: 10px;
    display: block; }
/* line 57, /Users/ruoshin/repos/test/source/stylesheets/index/index_news.scss */
.index-news .news-block.latest .news-block-header {
  background: #0629cc; }
/* line 62, /Users/ruoshin/repos/test/source/stylesheets/index/index_news.scss */
.index-news .news-block.lecture-course .news-block-header {
  background: #de1e37; }
