/* line 4, /Users/ruoshin/repos/test/source/stylesheets/index/office.scss */
.office {
  padding: 80px 0;
  background-image: url("/images/landing/img_location_bg.png");
  background-size: cover;
  background-position: center center; }
  /* line 10, /Users/ruoshin/repos/test/source/stylesheets/index/office.scss */
  .office .office-box .office-icon {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 100%;
    background: #aaa;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.1); }
  /* line 22, /Users/ruoshin/repos/test/source/stylesheets/index/office.scss */
  .office .office-box .office-name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0 10px; }
  /* line 28, /Users/ruoshin/repos/test/source/stylesheets/index/office.scss */
  .office .office-box .office-information {
    margin: 0 auto; }
  /* line 31, /Users/ruoshin/repos/test/source/stylesheets/index/office.scss */
  .office .office-box .office-map {
    margin-top: 20px; }
    /* line 33, /Users/ruoshin/repos/test/source/stylesheets/index/office.scss */
    .office .office-box .office-map > a {
      width: 40px;
      height: 40px;
      display: block;
      background-image: url("/images/landing/btn_location_normal.png");
      background-size: cover;
      background-position: center center;
      margin: 0 auto; }
      /* line 41, /Users/ruoshin/repos/test/source/stylesheets/index/office.scss */
      .office .office-box .office-map > a:hover {
        opacity: 1;
        background-image: url("/images/landing/btn_location_hover.png"); }
  /* line 48, /Users/ruoshin/repos/test/source/stylesheets/index/office.scss */
  .office .office-box.taipei .office-icon {
    background: #0629cc; }
  /* line 51, /Users/ruoshin/repos/test/source/stylesheets/index/office.scss */
  .office .office-box.taipei .office-information {
    width: 180px; }
  /* line 56, /Users/ruoshin/repos/test/source/stylesheets/index/office.scss */
  .office .office-box.hsinchu .office-icon {
    background: #de1e37; }
  /* line 59, /Users/ruoshin/repos/test/source/stylesheets/index/office.scss */
  .office .office-box.hsinchu .office-information {
    width: 145px; }
  /* line 64, /Users/ruoshin/repos/test/source/stylesheets/index/office.scss */
  .office .office-box.taichung .office-icon {
    background: #ffb90c; }
  /* line 67, /Users/ruoshin/repos/test/source/stylesheets/index/office.scss */
  .office .office-box.taichung .office-information {
    width: 220px; }
  /* line 72, /Users/ruoshin/repos/test/source/stylesheets/index/office.scss */
  .office .office-box.kaohsiung .office-icon {
    background: #0898ff; }
  /* line 75, /Users/ruoshin/repos/test/source/stylesheets/index/office.scss */
  .office .office-box.kaohsiung .office-information {
    width: 220px; }
