@import "shared/variables";
$iconSize: 100px;

.office{
  padding: 80px 0;
  background-image: image_url("landing/img_location_bg.png");
  background-size: cover;
  background-position: center center;
  .office-box{
    .office-icon{
      width: $iconSize;
      height: $iconSize;
      line-height: $iconSize;
      border-radius: 100%;
      background: #aaa;
      color: #fff;
      margin: 0 auto;
      text-align: center;
      font-size: 18px;
      box-shadow: 0 4px 8px 2px rgba(#000, 0.1);
    }
    .office-name{
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      margin: 30px 0 10px;
    }
    .office-information{
      margin: 0 auto;
    }
    .office-map{
      margin-top: 20px;
      > a{
        width: 40px;
        height: 40px;
        display: block;
        background-image: image_url("landing/btn_location_normal.png");
        background-size: cover;
        background-position: center center;
        margin: 0 auto;
        &:hover{
          opacity: 1;
          background-image: image_url("landing/btn_location_hover.png");
        }
      }
    }
    &.taipei{
      .office-icon{
        background: $blue;
      }
      .office-information{
        width: 180px;
      }
    }
    &.hsinchu{
      .office-icon{
        background: $red;
      }
      .office-information{
        width: 145px;
      }
    }
    &.taichung{
      .office-icon{
        background: $yellow;
      }
      .office-information{
        width: 220px;
      }
    }
    &.kaohsuing{
      .office-icon{
        background: $link-color;
      }
      .office-information{
        width: 220px;
      }
    }
  }
}
