/* line 3, /Users/ruoshin/repos/test/source/stylesheets/index/our_service.scss */
.our-service {
  background: #f2f5f7;
  overflow: hidden; }
  /* line 6, /Users/ruoshin/repos/test/source/stylesheets/index/our_service.scss */
  .our-service h2 {
    padding: 100px 0 80px; }
  /* line 9, /Users/ruoshin/repos/test/source/stylesheets/index/our_service.scss */
  .our-service .service-wrapper {
    position: relative;
    height: 400px;
    margin-bottom: 80px; }
  /* line 14, /Users/ruoshin/repos/test/source/stylesheets/index/our_service.scss */
  .our-service .service-banner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    z-index: 1; }
    /* line 25, /Users/ruoshin/repos/test/source/stylesheets/index/our_service.scss */
    .our-service .service-banner img {
      width: 100%; }
    /* line 28, /Users/ruoshin/repos/test/source/stylesheets/index/our_service.scss */
    .our-service .service-banner:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 400px;
      height: 400px;
      border-radius: 100%;
      z-index: -1;
      background: #f2f5f7; }
  /* line 40, /Users/ruoshin/repos/test/source/stylesheets/index/our_service.scss */
  .our-service .service-items {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0; }
  /* line 47, /Users/ruoshin/repos/test/source/stylesheets/index/our_service.scss */
  .our-service .service-item-group {
    border-bottom: 1px solid #bec1c5;
    margin-bottom: 40px; }
  /* line 51, /Users/ruoshin/repos/test/source/stylesheets/index/our_service.scss */
  .our-service .service-item {
    padding: 20px 0; }
    /* line 53, /Users/ruoshin/repos/test/source/stylesheets/index/our_service.scss */
    .our-service .service-item > * {
      display: inline-block;
      vertical-align: middle; }
  /* line 59, /Users/ruoshin/repos/test/source/stylesheets/index/our_service.scss */
  .our-service .service-icon img {
    width: 80px;
    height: 80px; }
  /* line 64, /Users/ruoshin/repos/test/source/stylesheets/index/our_service.scss */
  .our-service .service-item-content {
    margin-left: 16px; }
    /* line 66, /Users/ruoshin/repos/test/source/stylesheets/index/our_service.scss */
    .our-service .service-item-content .title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 2px; }
