#slider-events{
  .carousel-control{
    text-shadow: none;
    &.left, &.right{
      background: none;
    }
  }
  .item{
    background: no-repeat center;
    background-size: auto 240px;
    height: 240px;
    width: 100%;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.3);
      z-index: 0;
    }
  }
  .carousel-caption{
    text-shadow: none;
    .event-title{
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .event-link{
      border: 2px solid #fff;
      color: #fff;
    }
  }
}
