/* line 2, /Users/ruoshin/repos/test/source/stylesheets/index/slider_banner.scss */
#slider-banner .item {
  height: 500px;
  width: 100%; }
  /* line 5, /Users/ruoshin/repos/test/source/stylesheets/index/slider_banner.scss */
  #slider-banner .item .item-background-image {
    width: 100%;
    height: 100%;
    background: no-repeat center;
    background-size: cover;
    display: block; }
    /* line 11, /Users/ruoshin/repos/test/source/stylesheets/index/slider_banner.scss */
    #slider-banner .item .item-background-image.mobile-size {
      display: none; }
