/* line 15, /Users/ruoshin/repos/test/source/stylesheets/index/slider_banner.scss */
#slider-banner .carousel-control {
  text-shadow: none; }
  /* line 17, /Users/ruoshin/repos/test/source/stylesheets/index/slider_banner.scss */
  #slider-banner .carousel-control.left, #slider-banner .carousel-control.right {
    background: none; }
/* line 21, /Users/ruoshin/repos/test/source/stylesheets/index/slider_banner.scss */
#slider-banner .carousel-indicators {
  text-align: right;
  z-index: 1; }
