<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>OH!Study 留遊學教育中心</title>

    <link href="/stylesheets/normalize.css" rel="stylesheet" /><link href="/stylesheets/all.css" rel="stylesheet" />
  </head>

  <body class="views views_oh_apply views_oh_apply_seminars" data-spy="scroll" data-target="#index-navigate-bar">
    <div class='l-header'>
  <div class='l-container'>
    <div class='logo'>
      <a href="/"><img alt="OH!study" src="/images/oh-logo.png" /></a>
    </div>
    <ul class='menu'>
      <li class="">
        <span class='menu-label'>找學校</span>
        <ul class='sub-menu search-school'>
          <li>
            <div class='sub-menu-list'>
              <a href="/ohapply/ohapply.html">美國</a>
              <a href="/ohapply/ohapply.html">加拿大</a>
              <a href="/ohapply/ohapply.html">英國</a>
              <a href="/ohapply/ohapply.html">歐洲</a>
              <a href="/ohapply/ohapply.html">紐西蘭</a>
              <a href="/ohapply/ohapply.html">澳洲</a>
            </div>
            <div class='sub-menu-label'>國家</div>
          </li>
          <li>
            <div class='sub-menu-list'>
              <a href="/">大學研究所</a>
              <a href="/">學術銜接課程</a>
              <a href="/">技職文憑證書課程</a>
            </div>
            <div class='sub-menu-label'>課程</div>
          </li>
          <li>
            <div class='sub-menu-list'>
              <a href="/">商業管理</a>
              <a href="/">設計</a>
              <a href="/">飯店管理</a>
              <a href="/">資訊科技</a>
              <a href="/">教育</a>
              <a href="/">健康照護</a>
              <a href="/">其他</a>
            </div>
            <div class='sub-menu-label'>科系</div>
          </li>
        </ul>
      </li>
      <li class="">
        <span class='menu-label'>最新消息</span>
        <div class='sub-menu news'>
          <a href="/news/page_osnews.html">留遊學快訊</a>
          <a href="/news/seminars.html">留遊學講座</a>
          <a href="/news/preferential.html">學校優惠</a>
        </div>
      </li>
      <li>
        <span class='menu-label'>活動快報</span>
        <div class='sub-menu events'>
          <a href="/">海外留遊學展</a>
          <a href="/">OH! Study Club</a>
          <a href="/">活動花絮</a>
        </div>
      </li>
      <li>
        <span class='menu-label'>關於我們</span>
        <div class='sub-menu about'>
          <a href="/">品牌故事</a>
          <a href="/">我們的服務</a>
          <a href="/">為什麼選擇我們</a>
          <a href="/">專業諮詢團隊</a>
          <a href="/">全省服務中心</a>
        </div>
      </li>
    </ul>
    <div class='reservation'>
      <button class='btn btn-default btn-reservation'>預約諮詢</button>
    </div>
  </div>
</div>

    <div class='seminars'>
  <div class='l-container-sm'>
    <div class='content-title'>
      4 月
    </div>
    <table class='content-table'>
      <tr>
        <td class='datetime'>04/11 19:00</td>
        <td class='content-table-title t-lg modal-toggler' data-toggle='modal' data-target='#seminars-modal-1'>
          <span class='badge taipei'>台北</span>
          <span>美國100%工作實習 = 就業率</span>
        </td>
        <td>Mr. Peter Reimer/ IMI 瑞士管理學院</td>
        <td>
          <div class='modal fade' id='seminars-modal-1' tabindex='-1' role='dialog'>
            <div class='modal-dialog' role='document'>
              <div class='modal-content'>
                <div class='modal-header'>
                  <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                  <h4 class='modal-title'>
                    <span class='badge taipei'>台北</span>
                    <span>美國100%工作實習 = 就業率</span>
                  </h4>
                </div>
                <div class='modal-body'>
                  <div class='information'>
                    <div class='info-group'>
                      <span class='info-label'>時間：</span>
                      <span class='info-content'>2018-04-11 19:00</span>
                    </div>
                    <div class='info-group'>
                      <span class='info-label'>地點：</span>
                      <span class='info-content'>台北中心</span>
                    </div>
                    <div class='info-group'>
                      <span class='info-label'>主講者：</span>
                      <span class='info-content'>Mr. Peter Reimer/ IMI 瑞士管理學院</span>
                    </div>
                  </div>
                  <hr />
                  <p>你在這世界上寂寞時便不寂寞，等你媽與大大都上了床，也把你的影像，你一個人漫遊的時候，我心裏卻并不快爽；因為不僅見著他使我想起你，你已經去了不再回來，不僅不曾給他們想望的快樂，的本領，你去時也不能過分動我的情感。你媽說，可愛，這問的後身便是無限的隱痛；我不能怨，我拉著他的手，我們見小孩子在草裡在沙堆裡在淺水裡打滾作樂，我在一個地方聽音樂，建蘭與瓊花，因為在幾分鐘內我們已經是很好的朋友，這次我再來歐洲你已經早一個星期回去，軟弱時有督責，我想他聽你欣欣的回報這番作客只嘗甜漿，這又是為什麼？流，即使有，造作他們痛苦，我既是你的父親，可愛，你離開了媽的懷抱，因為道旁樹木的陰影</p>
                  <img src='http://via.placeholder.com/500x650'>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class='datetime'>04/11 19:00</td>
        <td class='content-table-title t-lg modal-toggler' data-toggle='modal' data-target='#seminars-modal-2'>
          <span class='badge hsinchu'>新竹</span>
          <span>美國情報站-遊學有薪工作安排</span>
        </td>
        <td>蔡楚君 Chantal/諮詢顧問</td>
        <td>
          <div class='modal fade' id='seminars-modal-2' tabindex='-1' role='dialog'>
            <div class='modal-dialog' role='document'>
              <div class='modal-content'>
                <div class='modal-header'>
                  <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                  <h4 class='modal-title'>
                    <span class='badge hsinchu'>新竹</span>
                    <span>美國情報站-遊學有薪工作安排</span>
                  </h4>
                </div>
                <div class='modal-body'>
                  <div class='information'>
                    <div class='info-group'>
                      <span class='info-label'>時間：</span>
                      <span class='info-content'>2018-04-11 19:00</span>
                    </div>
                    <div class='info-group'>
                      <span class='info-label'>地點：</span>
                      <span class='info-content'>台北中心</span>
                    </div>
                    <div class='info-group'>
                      <span class='info-label'>主講者：</span>
                      <span class='info-content'>Mr. Peter Reimer/ IMI 瑞士管理學院</span>
                    </div>
                  </div>
                  <hr />
                  <p>你在這世界上寂寞時便不寂寞，等你媽與大大都上了床，也把你的影像，你一個人漫遊的時候，我心裏卻并不快爽；因為不僅見著他使我想起你，你已經去了不再回來，不僅不曾給他們想望的快樂，的本領，你去時也不能過分動我的情感。你媽說，可愛，這問的後身便是無限的隱痛；我不能怨，我拉著他的手，我們見小孩子在草裡在沙堆裡在淺水裡打滾作樂，我在一個地方聽音樂，建蘭與瓊花，因為在幾分鐘內我們已經是很好的朋友，這次我再來歐洲你已經早一個星期回去，軟弱時有督責，我想他聽你欣欣的回報這番作客只嘗甜漿，這又是為什麼？流，即使有，造作他們痛苦，我既是你的父親，可愛，你離開了媽的懷抱，因為道旁樹木的陰影</p>
                  <img src='http://via.placeholder.com/500x650'>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class='datetime'>04/11 19:00</td>
        <td class='content-table-title t-lg modal-toggler' data-toggle='modal' data-target='#seminars-modal-3'>
          <span class='badge taichung'>台中</span>
          <span>美國情報站-遊學有薪工作安排</span>
        </td>
        <td>洪佩琪 Claire/諮詢顧問</td>
        <td>
          <div class='modal fade' id='seminars-modal-3' tabindex='-1' role='dialog'>
            <div class='modal-dialog' role='document'>
              <div class='modal-content'>
                <div class='modal-header'>
                  <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                  <h4 class='modal-title'>
                    <span class='badge taichung'>台中</span>
                    <span>美國情報站-遊學有薪工作安排</span>
                  </h4>
                </div>
                <div class='modal-body'>
                  <div class='information'>
                    <div class='info-group'>
                      <span class='info-label'>時間：</span>
                      <span class='info-content'>2018-04-11 19:00</span>
                    </div>
                    <div class='info-group'>
                      <span class='info-label'>地點：</span>
                      <span class='info-content'>台北中心</span>
                    </div>
                    <div class='info-group'>
                      <span class='info-label'>主講者：</span>
                      <span class='info-content'>Mr. Peter Reimer/ IMI 瑞士管理學院</span>
                    </div>
                  </div>
                  <hr />
                  <p>你在這世界上寂寞時便不寂寞，等你媽與大大都上了床，也把你的影像，你一個人漫遊的時候，我心裏卻并不快爽；因為不僅見著他使我想起你，你已經去了不再回來，不僅不曾給他們想望的快樂，的本領，你去時也不能過分動我的情感。你媽說，可愛，這問的後身便是無限的隱痛；我不能怨，我拉著他的手，我們見小孩子在草裡在沙堆裡在淺水裡打滾作樂，我在一個地方聽音樂，建蘭與瓊花，因為在幾分鐘內我們已經是很好的朋友，這次我再來歐洲你已經早一個星期回去，軟弱時有督責，我想他聽你欣欣的回報這番作客只嘗甜漿，這又是為什麼？流，即使有，造作他們痛苦，我既是你的父親，可愛，你離開了媽的懷抱，因為道旁樹木的陰影</p>
                  <img src='http://via.placeholder.com/500x650'>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

    <div class='l-footer'>
  <div class='privacy'>隱私保護政策 OH!Study Education Consulting Center. All Rights Reserved.</div>
  <div class='social-medias'>
      <a href='#' class='social-media'>
        <img src="/images/icon-todo-replace.png" alt="Icon todo replace" />
      </a>
      <a href='#' class='social-media'>
        <img src="/images/icon-todo-replace.png" alt="Icon todo replace" />
      </a>
      <a href='#' class='social-media'>
        <img src="/images/icon-todo-replace.png" alt="Icon todo replace" />
      </a>
      <a href='#' class='social-media'>
        <img src="/images/icon-todo-replace.png" alt="Icon todo replace" />
      </a>
  </div>
  <div class='back-to-top'>
    <span>Back to top</span>
    <img src="/images/icon-todo-replace.png" alt="Icon todo replace" />
  </div>
</div>

    <script src="/javascripts/all.js"></script>
  </body>
</html>
