/* line 3, /Users/ruoshin/repos/test/source/stylesheets/oh_apply/oh_apply_selector.scss */
.oh-apply-selector {
  position: relative;
  cursor: pointer;
  padding: 5px 0; }
  /* line 7, /Users/ruoshin/repos/test/source/stylesheets/oh_apply/oh_apply_selector.scss */
  .oh-apply-selector .selector-label {
    font-size: 18px;
    line-height: 1; }
    /* line 10, /Users/ruoshin/repos/test/source/stylesheets/oh_apply/oh_apply_selector.scss */
    .oh-apply-selector .selector-label > span {
      display: inline-block;
      vertical-align: middle; }
    /* line 14, /Users/ruoshin/repos/test/source/stylesheets/oh_apply/oh_apply_selector.scss */
    .oh-apply-selector .selector-label:after {
      content: '';
      width: 12px;
      height: 12px;
      background-image: url("/images/school/btn_dropdown_normal.png");
      background-size: cover;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px; }
  /* line 25, /Users/ruoshin/repos/test/source/stylesheets/oh_apply/oh_apply_selector.scss */
  .oh-apply-selector .selector-value {
    display: none; }
  /* line 28, /Users/ruoshin/repos/test/source/stylesheets/oh_apply/oh_apply_selector.scss */
  .oh-apply-selector .oh-apply-selector-options {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1;
    background: #fff;
    color: #232941;
    padding: 15px 20px;
    width: 150px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    max-height: 580px;
    overflow-y: auto; }
    /* line 42, /Users/ruoshin/repos/test/source/stylesheets/oh_apply/oh_apply_selector.scss */
    .oh-apply-selector .oh-apply-selector-options > li {
      padding: 5px 0; }
      /* line 44, /Users/ruoshin/repos/test/source/stylesheets/oh_apply/oh_apply_selector.scss */
      .oh-apply-selector .oh-apply-selector-options > li:hover {
        opacity: 0.5; }
      /* line 47, /Users/ruoshin/repos/test/source/stylesheets/oh_apply/oh_apply_selector.scss */
      .oh-apply-selector .oh-apply-selector-options > li a {
        display: block; }
      /* line 51, /Users/ruoshin/repos/test/source/stylesheets/oh_apply/oh_apply_selector.scss */
      .oh-apply-selector .oh-apply-selector-options > li.active a {
        color: #0898ff; }
    /* line 56, /Users/ruoshin/repos/test/source/stylesheets/oh_apply/oh_apply_selector.scss */
    .oh-apply-selector .oh-apply-selector-options .close {
      display: none; }
  /* line 61, /Users/ruoshin/repos/test/source/stylesheets/oh_apply/oh_apply_selector.scss */
  .oh-apply-selector.is-open .oh-apply-selector-options {
    display: block; }
