/* line 5, /Users/ruoshin/repos/test/source/stylesheets/oh_apply/oh_apply.scss */
.oh-apply .banner {
  height: 300px;
  background-image: url("/images/school/img_school_general.png"); }
  /* line 8, /Users/ruoshin/repos/test/source/stylesheets/oh_apply/oh_apply.scss */
  .oh-apply .banner h3 {
    font-size: 32px;
    font-weight: bold; }

/* line 15, /Users/ruoshin/repos/test/source/stylesheets/oh_apply/oh_apply.scss */
.oh-apply-esl .oh-apply-search-bar {
  background: #de1e37; }
