/* line 3, /Users/ruoshin/repos/test/source/stylesheets/oh_apply/oh_apply_header.scss */
.oh-apply-header {
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); }
  /* line 6, /Users/ruoshin/repos/test/source/stylesheets/oh_apply/oh_apply_header.scss */
  .oh-apply-header .oh-apply-header-title {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0; }
    /* line 10, /Users/ruoshin/repos/test/source/stylesheets/oh_apply/oh_apply_header.scss */
    .oh-apply-header .oh-apply-header-title > span:after {
      content: ' / '; }
    /* line 14, /Users/ruoshin/repos/test/source/stylesheets/oh_apply/oh_apply_header.scss */
    .oh-apply-header .oh-apply-header-title > span:last-child:after {
      content: ''; }
  /* line 20, /Users/ruoshin/repos/test/source/stylesheets/oh_apply/oh_apply_header.scss */
  .oh-apply-header .oh-apply-header-tabs-wrapper {
    position: relative; }
  /* line 23, /Users/ruoshin/repos/test/source/stylesheets/oh_apply/oh_apply_header.scss */
  .oh-apply-header .oh-apply-header-tabs-dropdown {
    display: none;
    font-size: 18px;
    padding-bottom: 10px;
    cursor: pointer; }
    /* line 28, /Users/ruoshin/repos/test/source/stylesheets/oh_apply/oh_apply_header.scss */
    .oh-apply-header .oh-apply-header-tabs-dropdown:after {
      content: '';
      width: 12px;
      height: 12px;
      background-image: url("/images/school/btn_dropdown_black_normal.png");
      background-size: cover;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px; }
  /* line 39, /Users/ruoshin/repos/test/source/stylesheets/oh_apply/oh_apply_header.scss */
  .oh-apply-header .oh-apply-header-tabs {
    background: #fff;
    padding-top: 6px;
    padding-bottom: 10px; }
    /* line 43, /Users/ruoshin/repos/test/source/stylesheets/oh_apply/oh_apply_header.scss */
    .oh-apply-header .oh-apply-header-tabs > li {
      display: inline-block;
      font-size: 18px;
      margin-right: 40px; }
      /* line 47, /Users/ruoshin/repos/test/source/stylesheets/oh_apply/oh_apply_header.scss */
      .oh-apply-header .oh-apply-header-tabs > li.active {
        position: relative;
        font-weight: bold; }
        /* line 50, /Users/ruoshin/repos/test/source/stylesheets/oh_apply/oh_apply_header.scss */
        .oh-apply-header .oh-apply-header-tabs > li.active:after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          top: 34px;
          margin-left: -0.5em;
          left: 50%;
          box-sizing: border-box;
          border: 5px solid black;
          border-color: transparent transparent #fff #fff;
          transform-origin: 0 0;
          transform: rotate(-45deg);
          box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.07); }
